@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-stretch: 100%;
		font-display: swap;
		src:
			local(""),
			url($furl + ".woff2") format("woff2");
	}
}

@include font("Inter", normal, 300, "../font/Inter-300");
@include font("Inter", normal, 400, "../font/Inter-400");
@include font("Inter", normal, 600, "../font/Inter-600");
@include font("Inter", normal, 700, "../font/Inter-700");
