[data-colormode="dark"] {
	--bs-light: #2d3846;
	--bs-dark: #e9eaec;
	--bs-primary-rgb: 59, 125, 221;
	--bs-secondary-rgb: 122, 130, 138;
	--bs-success-rgb: 28, 187, 140;
	--bs-info-rgb: 23, 162, 184;
	--bs-warning-rgb: 252, 185, 44;
	--bs-danger-rgb: 220, 53, 69;
	--bs-light-rgb: 45, 56, 70;
	--bs-dark-rgb: 233, 234, 236;
	--bs-white-rgb: 34, 46, 60;
	--bs-black-rgb: 255, 255, 255;
	--bs-body-color-rgb: 189, 192, 197;
	--bs-body-bg-rgb: 25, 34, 44;
	--bs-gradient: linear-gradient(180deg, rgba(34, 46, 60, .15), rgba(34, 46, 60, 0));
	--bs-body-color: #bdc0c5;
	--bs-body-bg: #19222c;

	--heading-color: #fff;
	--hamburger-bg: #bdc0c5;
	--nav-icon-color: #a7abb1;
	--white-bg: #222e3c;
	--white-bg-hover: #384350;
	--card-title-color: #d3d5d8;
	--text-muted-color: #a7abb1;
	--border-color: #4e5863;

	scrollbar-color: var(--white-bg) var(--bs-body-bg);
	&::-webkit-scrollbar-track {
		background: var(--white-bg);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--bs-body-bg);
	}

	.navbar-nav .dropdown-menu {
		box-shadow: 0 0.1rem 0.2rem hsl(0deg, 0%, 100%, 0.05);
	}
	.navbar-bg {
		background-color: var(--bs-body-bg);
	}
	.dropdown-menu {
		border-color: hsla(0, 0%, 100%, 0.15);
		color: #bdc0c5;
	}
	.dropdown-menu-header {
		border-color: #646d77;
	}
	.list-group-item {
		border-color: hsla(0, 0%, 100%, 0.125);
		color: #e9eaec;
	}
	.list-group-item-action:not(.active):focus, .list-group-item-action:not(.active):hover {
		background-color: #384350;
    color: #bdc0c5;
	}
	.dropdown-item {
		color: #bdc0c5;
	}
	.dropdown-item:focus, .dropdown-item:hover {
		background-color: #384350;
		color: #aaadb1;
	}
	.dropdown-divider {
		border-color: hsla(0, 0%, 100%, 0.15);
	}

	.table {
		--bs-table-bg: transparent;
		--bs-table-accent-bg: transparent;
		--bs-table-striped-color: #bdc0c5;
		--bs-table-striped-bg: #2d3846;
		--bs-table-active-color: #bdc0c5;
		--bs-table-active-bg: hsla(0, 0%, 100%, .1);
		--bs-table-hover-color: #bdc0c5;
		--bs-table-hover-bg: hsla(0, 0%, 100%, .038);
		border-color: #4e5863;
		color: #bdc0c5;
	}

	.table>:not(caption)>*>* {
		background-color: var(--bs-table-bg);
		box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
	}

	.table-striped>tbody>tr:nth-of-type(odd)>* {
		--bs-table-accent-bg: var(--bs-table-striped-bg);
		color: var(--bs-table-striped-color)
	}

	.table-active {
		--bs-table-accent-bg: var(--bs-table-active-bg);
		color: var(--bs-table-active-color)
	}

	.table-hover>tbody>tr:hover>* {
		--bs-table-accent-bg: var(--bs-table-hover-bg);
		color: var(--bs-table-hover-color)
	}

	.table-primary {
		--bs-table-bg: #d8e5f8;
		--bs-table-striped-bg: #cfdcef;
		--bs-table-striped-color: #222e3c;
		--bs-table-active-bg: #c6d3e5;
		--bs-table-active-color: #222e3c;
		--bs-table-hover-bg: #cad7ea;
		--bs-table-hover-color: #222e3c;
		border-color: #c6d3e5;
		color: #222e3c
	}

	.table-secondary {
		--bs-table-bg: #e4e6e8;
		--bs-table-striped-bg: #dadddf;
		--bs-table-striped-color: #222e3c;
		--bs-table-active-bg: #d1d4d7;
		--bs-table-active-color: #222e3c;
		--bs-table-hover-bg: #d5d8db;
		--bs-table-hover-color: #222e3c;
		border-color: #d1d4d7;
		color: #222e3c
	}

	.table-success {
		--bs-table-bg: #d2f1e8;
		--bs-table-striped-bg: #c9e7df;
		--bs-table-striped-color: #222e3c;
		--bs-table-active-bg: #c0ded7;
		--bs-table-active-color: #222e3c;
		--bs-table-hover-bg: #c5e2db;
		--bs-table-hover-color: #222e3c;
		border-color: #c0ded7;
		color: #222e3c
	}

	.table-info {
		--bs-table-bg: #d1ecf1;
		--bs-table-striped-bg: #c8e3e8;
		--bs-table-striped-color: #222e3c;
		--bs-table-active-bg: #c0d9df;
		--bs-table-active-color: #222e3c;
		--bs-table-hover-bg: #c4dee3;
		--bs-table-hover-color: #222e3c;
		border-color: #c0d9df;
		color: #222e3c
	}

	.table-warning {
		--bs-table-bg: #fef1d5;
		--bs-table-striped-bg: #f3e7cd;
		--bs-table-striped-color: #222e3c;
		--bs-table-active-bg: #e8dec6;
		--bs-table-active-color: #222e3c;
		--bs-table-hover-bg: #eee2ca;
		--bs-table-hover-color: #222e3c;
		border-color: #e8dec6;
		color: #222e3c
	}

	.table-danger {
		--bs-table-bg: #f8d7da;
		--bs-table-striped-bg: #edcfd2;
		--bs-table-striped-color: #222e3c;
		--bs-table-active-bg: #e3c6ca;
		--bs-table-active-color: #222e3c;
		--bs-table-hover-bg: #e8cace;
		--bs-table-hover-color: #222e3c;
		border-color: #e3c6ca;
		color: #222e3c
	}

	.table-light {
		--bs-table-bg: #2d3846;
		--bs-table-striped-bg: #38424f;
		--bs-table-striped-color: #fff;
		--bs-table-active-bg: #424c59;
		--bs-table-active-color: #fff;
		--bs-table-hover-bg: #3d4754;
		--bs-table-hover-color: #fff;
		border-color: #424c59;
		color: #fff
	}

	.table-dark {
		--bs-table-bg: #e9eaec;
		--bs-table-striped-bg: #dfe1e3;
		--bs-table-striped-color: #222e3c;
		--bs-table-active-bg: #d5d7da;
		--bs-table-active-color: #222e3c;
		--bs-table-hover-bg: #dadcdf;
		--bs-table-hover-color: #222e3c;
		border-color: #d5d7da;
		color: #222e3c
	}

	table a, .table-action > *:not(.badge) {
		color: #a7abb1;
		&:hover {
			color: #fff;
		}
	}

	.table tbody, .table td, .table tfoot, .table th, .table thead, .table tr, .table>:not(:last-child)>:last-child>* {
		border-color: #4e5863;
	}

	.tab .nav-tabs .nav-link {
		color: #d3d5d8;
	}

	.tab .nav-tabs .nav-link.active {
		color: #d3d5d8;
		background-color: var(--white-bg);
	}

	.form-control {
		border-color: #7a828a;
	}

	.ql-toolbar.ql-snow, .ql-container.ql-snow {
		border-color: #7a828a;
	}

	.input-group-text {
		background-color: #4e5863;
    border-color: #7a828a;
    color: #bdc0c5;
	}

	.filepond--panel-root {
		background-color: #1e3f6f;
	}

	.filepond--drop-label {
		color: #b1cbf1;
	}

	.form-select, .ss-main .ss-single-selected,
	.ss-main .ss-multi-selected,
	.ss-content,
	.ss-content .ss-search input,
	.ss-content .ss-search .ss-addable {
		background-color: var(--white-bg);
		border-color: #7a828a;
		color: #bdc0c5;
	}

	.ss-content .ss-list .ss-option {
		background-color: #384350;
    color: #bdc0c5;
		&:hover, &:focus {
			background-color: #3b7ddd;
			color: #fff;
		}
	}

	.ss-main .ss-single-selected .ss-arrow span {
		border-color: #bdc0c5;
	}

	.ss-main .ss-multi-selected .ss-add .ss-plus {
		background-color: #bdc0c5;
		&::after {
			background-color: #bdc0c5;
		}
	}

	.ss-main .ss-single-selected .placeholder {
		color: inherit;
	}

	.ss-main .ss-single-selected .placeholder .ss-disabled {
		color: #495057;
	}

	.ss-content .ss-list .ss-option.ss-disabled {
		background-color: var(--white-bg);
		color: #495057;
	}

	.ss-content .ss-list .ss-optgroup .ss-optgroup-label {
		background-color: #384350;
	}

	.form-check-input {
		background-color: var(--white-bg);
		border-color: hsla(0, 0%, 100%, 0.5);
	}

	.form-select:disabled, .form-control:disabled, .form-control[readonly] {
		background-color: #4e5863;
	}

	.form-switch .form-check-input {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(255, 255, 255, 0.5)'/%3E%3C/svg%3E");
	}

	.form-switch .form-check-input:checked {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
	}

	.form-check-input:checked {
    background-color: #3b7ddd;
    border-color: #3b7ddd;
	}

	[type^="date"]::-webkit-calendar-picker-indicator {
		filter: invert(1);
		opacity: 0.7;
	}

	.page-link {
		background-color: #222e3c;
    border-color: #646d77;
    color: #a7abb1;
	}

	.accordion-button {
		background-color: #19222c;
		color: #bdc0c5;
	}

	.accordion-button:not(.collapsed) {
		background-color: #ebf2fc;
		box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, .125);
		color: #3571c7
	}

	.accordion-button:not(.collapsed):after {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233571c7'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
		transform: rotate(-180deg)
	}

	.accordion-button:after {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23bdc0c5'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
	}

	.accordion-button:focus {
		border-color: #9dbeee;
		box-shadow: 0 0 0 .2rem rgba(59, 125, 221, .25);
	}

	.accordion-item {
		background-color: #19222c;
		border: 1px solid hsla(0, 0%, 100%, .125)
	}

	.accordion .card-body {
		border-top: 1px solid transparent
	}

	.accordion .card-title a {
		color: #bdc0c5
	}

	.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,
	.bs-tooltip-top .tooltip-arrow:before {
		border-top-color: #fff;
	}

	.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,
	.bs-tooltip-end .tooltip-arrow:before {
		border-right-color: #fff;
	}

	.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,
	.bs-tooltip-bottom .tooltip-arrow:before {
		border-bottom-color: #fff;
	}

	.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,
	.bs-tooltip-start .tooltip-arrow:before {
		border-left-color: #fff;
	}

	.tooltip-inner {
		color: #222e3c;
		background-color: #fff;
	}

	.btn-close {
		filter: invert(1);
	}

	input {
		color: #bdc0c5;
	}

	.alert {
		border: 0 solid transparent;
	}

	.alert-primary {
		background-color: #1e3f6f;
		border-color: #c4d8f5;
		color: #b1cbf1
	}

	.alert-primary .alert-link {
		color: #8ea2c1
	}

	.alert-secondary {
		background-color: #3d4145;
		border-color: #d7dadc;
		color: #cacdd0
	}

	.alert-secondary .alert-link {
		color: #a2a4a6
	}

	.alert-success {
		background-color: #0e5e46;
		border-color: #bbebdd;
		color: #a4e4d1
	}

	.alert-success .alert-link {
		color: #83b6a7
	}

	.alert-info {
		background-color: #0c515c;
		border-color: #b9e3ea;
		color: #a2dae3
	}

	.alert-info .alert-link {
		color: #82aeb6
	}

	.alert-warning {
		background-color: #7e5d16;
		border-color: #feeac0;
		color: #fee3ab
	}

	.alert-warning .alert-link {
		color: #cbb689
	}

	.alert-danger {
		background-color: #6e1b23;
		border-color: #f5c2c7;
		color: #f1aeb5
	}

	.alert-danger .alert-link {
		color: #c18b91
	}

	.alert-light {
		background-color: #171c23;
		border-color: #c0c3c8;
		color: #abafb5
	}

	.alert-light .alert-link {
		color: #898c91
	}

	.alert-dark {
		background-color: #757576;
		border-color: #f8f9f9;
		color: #f6f7f7
	}

	.alert-dark .alert-link {
		color: #c5c6c6
	}

	.alert .close:focus,
	.alert .close:hover {
		opacity: 1
	}

	.alert-outline,
	.alert-outline-coloured {
		background: #222e3c;
		color: #bdc0c5
	}

	.alert-outline hr,
	.alert-outline-coloured hr {
		border-top-color: #7a828a
	}

	.alert-outline .close:focus,
	.alert-outline .close:hover,
	.alert-outline-coloured .close:focus,
	.alert-outline-coloured .close:hover {
		color: #d3d5d8
	}

	.alert-outline .alert-message,
	.alert-outline-coloured .alert-message {
		border: 1px solid #7a828a;
	}


	.alert-outline .alert-icon,
	.alert-outline-coloured .alert-icon {
		color: #fff
	}

	.alert-outline-coloured.alert-primary .alert-icon,
	.alert-outline.alert-primary .alert-icon {
		background-color: #3b7ddd
	}

	.alert-outline-coloured.alert-secondary .alert-icon,
	.alert-outline.alert-secondary .alert-icon {
		background-color: #7a828a
	}

	.alert-outline-coloured.alert-success .alert-icon,
	.alert-outline.alert-success .alert-icon {
		background-color: #1cbb8c
	}

	.alert-outline-coloured.alert-info .alert-icon,
	.alert-outline.alert-info .alert-icon {
		background-color: #17a2b8
	}

	.alert-outline-coloured.alert-warning .alert-icon,
	.alert-outline.alert-warning .alert-icon {
		background-color: #fcb92c
	}

	.alert-outline-coloured.alert-danger .alert-icon,
	.alert-outline.alert-danger .alert-icon {
		background-color: #dc3545
	}

	.alert-outline-coloured.alert-light .alert-icon,
	.alert-outline.alert-light .alert-icon {
		background-color: #2d3846
	}

	.alert-outline-coloured.alert-dark .alert-icon,
	.alert-outline.alert-dark .alert-icon {
		background-color: #e9eaec
	}

	.alert-outline-coloured.alert-primary .alert-message {
		border-color: #3b7ddd
	}

	.alert-outline-coloured.alert-secondary .alert-message {
		border-color: #7a828a
	}

	.alert-outline-coloured.alert-success .alert-message {
		border-color: #1cbb8c
	}

	.alert-outline-coloured.alert-info .alert-message {
		border-color: #17a2b8
	}

	.alert-outline-coloured.alert-warning .alert-message {
		border-color: #fcb92c
	}

	.alert-outline-coloured.alert-danger .alert-message {
		border-color: #dc3545
	}

	.alert-outline-coloured.alert-light .alert-message {
		border-color: #2d3846
	}

	.alert-outline-coloured.alert-dark .alert-message {
		border-color: #e9eaec
	}

	.alert-icon {
		background: rgba(0, 0, 0, .05);
	}

	.log {
		border-color: #4e5863;
	}

	.translation__comment {
		color: var(--bs-gray-700);
	}

	.ql-snow .ql-picker-options {
		background-color: #222e3c;
	}

	.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
	.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
		border-color: #7a828a;
	}

	.ql-snow .ql-picker.ql-expanded .ql-picker-label {
		color: #7a828a;
	}

	.ql-snow .ql-tooltip {
		color: var(--bs-body-color);
		background-color: var(--bs-body-bg);
		border-color: hsla(0, 0%, 100%, 0.15);
		box-shadow: 0 0.1rem 0.2rem hsl(0deg, 0%, 100%, 0.05);
	}
	.ql-snow .ql-tooltip a.ql-action::after,
	.ql-snow .ql-tooltip input[type=text] {
		border-color: hsla(0, 0%, 100%, 0.15);
	}
	.ql-snow .ql-tooltip input[type=text] {
		background-color: var(--bs-body-bg);
	}
}
