img {
	max-width: 100%;
}

.object-fit-cover {
	object-fit: cover;
}

.object-fit-contain {
	object-fit: contain;
}

.sidebar-dropdown .sidebar-dropdown .sidebar-link {
	padding: .625rem 1.5rem .625rem 4.5rem
}

.sidebar-dropdown .sidebar-dropdown .sidebar-dropdown .sidebar-link {
	padding: .625rem 1.5rem .625rem 5.75rem
}

.sidebar-link:focus {
	outline: 0
}

.sidebar-link:hover {
	background: #222e3c;
	border-left-color: transparent
}

.sidebar-link:hover,
body[data-theme=dark] .sidebar-link:hover {
	color: rgba(233, 236, 239, .75)
}

body[data-theme=light] .sidebar-link:hover {
	color: #518be1
}

body[data-theme=colored] .sidebar-link:hover {
	color: rgba(248, 249, 250, .85)
}

body[data-theme=dark] .sidebar-link:hover {
	background: #222e3c
}

body[data-theme=colored] .sidebar-link:hover,
body[data-theme=light] .sidebar-link:hover {
	background: transparent
}

body[data-theme=colored] .sidebar-link:hover,
body[data-theme=dark] .sidebar-link:hover,
body[data-theme=light] .sidebar-link:hover {
	border-left-color: transparent
}

.sidebar-link:hover i,
.sidebar-link:hover svg,
body[data-theme=dark] .sidebar-link:hover i,
body[data-theme=dark] .sidebar-link:hover svg {
	color: rgba(233, 236, 239, .75)
}

body[data-theme=light] .sidebar-link:hover i,
body[data-theme=light] .sidebar-link:hover svg {
	color: #518be1
}

body[data-theme=colored] .sidebar-link:hover i,
body[data-theme=colored] .sidebar-link:hover svg {
	color: rgba(233, 236, 239, .75)
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
	background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
	border-left-color: #3b7ddd;
	color: #e9ecef
}

body[data-theme=dark] .sidebar-item.active .sidebar-link:hover,
body[data-theme=dark] .sidebar-item.active>.sidebar-link {
	color: #e9ecef
}

body[data-theme=light] .sidebar-item.active .sidebar-link:hover,
body[data-theme=light] .sidebar-item.active>.sidebar-link {
	color: #518be1
}

body[data-theme=colored] .sidebar-item.active .sidebar-link:hover,
body[data-theme=colored] .sidebar-item.active>.sidebar-link {
	color: #fff
}

body[data-theme=dark] .sidebar-item.active .sidebar-link:hover,
body[data-theme=dark] .sidebar-item.active>.sidebar-link {
	background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent)
}

body[data-theme=light] .sidebar-item.active .sidebar-link:hover,
body[data-theme=light] .sidebar-item.active>.sidebar-link {
	background: transparent
}

body[data-theme=colored] .sidebar-item.active .sidebar-link:hover,
body[data-theme=colored] .sidebar-item.active>.sidebar-link {
	background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent)
}

body[data-theme=dark] .sidebar-item.active .sidebar-link:hover,
body[data-theme=dark] .sidebar-item.active>.sidebar-link,
body[data-theme=light] .sidebar-item.active .sidebar-link:hover,
body[data-theme=light] .sidebar-item.active>.sidebar-link {
	border-left-color: #3b7ddd
}

body[data-theme=colored] .sidebar-item.active .sidebar-link:hover,
body[data-theme=colored] .sidebar-item.active>.sidebar-link {
	border-left-color: #a8c5f0
}

.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg,
.sidebar-item.active>.sidebar-link i,
.sidebar-item.active>.sidebar-link svg,
body[data-theme=dark] .sidebar-item.active .sidebar-link:hover i,
body[data-theme=dark] .sidebar-item.active .sidebar-link:hover svg,
body[data-theme=dark] .sidebar-item.active>.sidebar-link i,
body[data-theme=dark] .sidebar-item.active>.sidebar-link svg {
	color: #e9ecef
}

body[data-theme=light] .sidebar-item.active .sidebar-link:hover i,
body[data-theme=light] .sidebar-item.active .sidebar-link:hover svg,
body[data-theme=light] .sidebar-item.active>.sidebar-link i,
body[data-theme=light] .sidebar-item.active>.sidebar-link svg {
	color: #518be1
}

body[data-theme=colored] .sidebar-item.active .sidebar-link:hover i,
body[data-theme=colored] .sidebar-item.active .sidebar-link:hover svg,
body[data-theme=colored] .sidebar-item.active>.sidebar-link i,
body[data-theme=colored] .sidebar-item.active>.sidebar-link svg {
	color: #e9ecef
}

.sidebar-dropdown .sidebar-link {
	background: transparent;
	border-left: 0;
	color: #adb5bd;
	font-size: 90%;
	font-weight: 400;
	padding: .625rem 1.5rem .625rem 3.25rem
}

body[data-theme=dark] .sidebar-dropdown .sidebar-link {
	color: #adb5bd
}

body[data-theme=light] .sidebar-dropdown .sidebar-link {
	color: #6c757d
}

body[data-theme=colored] .sidebar-dropdown .sidebar-link {
	color: #bbc2c8
}

body[data-theme=colored] .sidebar-dropdown .sidebar-link,
body[data-theme=dark] .sidebar-dropdown .sidebar-link,
body[data-theme=light] .sidebar-dropdown .sidebar-link {
	background: transparent
}

.sidebar-dropdown .sidebar-link:before {
	content: "→";
	display: inline-block;
	left: -14px;
	position: relative;
	transform: translateX(0);
	transition: all .1s ease
}

.sidebar-dropdown .sidebar-item .sidebar-link:hover {
	background: transparent;
	border-left: 0;
	color: #e9ecef;
	font-weight: 400
}

body[data-theme=dark] .sidebar-dropdown .sidebar-item .sidebar-link:hover {
	color: #e9ecef
}

body[data-theme=light] .sidebar-dropdown .sidebar-item .sidebar-link:hover {
	color: #518be1
}

body[data-theme=colored] .sidebar-dropdown .sidebar-item .sidebar-link:hover {
	color: #e9ecef
}

body[data-theme=colored] .sidebar-dropdown .sidebar-item .sidebar-link:hover,
body[data-theme=dark] .sidebar-dropdown .sidebar-item .sidebar-link:hover,
body[data-theme=light] .sidebar-dropdown .sidebar-item .sidebar-link:hover {
	background: transparent
}

.sidebar-dropdown .sidebar-item .sidebar-link:hover:hover:before {
	transform: translateX(4px)
}

.sidebar-dropdown .sidebar-item.active .sidebar-link {
	background: transparent;
	border-left: 0;
	color: #518be1;
	font-weight: 400
}

body[data-theme=dark] .sidebar-dropdown .sidebar-item.active .sidebar-link,
body[data-theme=light] .sidebar-dropdown .sidebar-item.active .sidebar-link {
	color: #518be1
}

body[data-theme=colored] .sidebar-dropdown .sidebar-item.active .sidebar-link {
	color: #fff
}

body[data-theme=colored] .sidebar-dropdown .sidebar-item.active .sidebar-link,
body[data-theme=dark] .sidebar-dropdown .sidebar-item.active .sidebar-link,
body[data-theme=light] .sidebar-dropdown .sidebar-item.active .sidebar-link {
	background: transparent
}

.sidebar [data-bs-toggle=collapse] {
	position: relative
}

.sidebar [data-bs-toggle=collapse]:after {
	border: solid;
	border-width: 0 .075rem .075rem 0;
	content: " ";
	display: inline-block;
	padding: 2px;
	position: absolute;
	right: 1.5rem;
	top: 1.2rem;
	transform: rotate(45deg);
	transition: all .2s ease-out
}

.sidebar [aria-expanded=true]:after,
.sidebar [data-bs-toggle=collapse]:not(.collapsed):after {
	top: 1.4rem;
	transform: rotate(-135deg)
}

.sidebar-dropdown [data-bs-toggle=collapse]:after {
	top: 1rem
}

.sidebar-dropdown [aria-expanded=true]:after,
.sidebar-dropdown [data-bs-toggle=collapse]:not(.collapsed):after {
	top: 1.2rem
}

.sidebar-brand {
	color: #f8f9fa;
	display: block;
	font-size: 1.15rem;
	font-weight: 600;
	padding: 1.15rem 1.5rem
}

body[data-theme=dark] .sidebar-brand {
	color: #f8f9fa
}

body[data-theme=light] .sidebar-brand {
	color: #495057
}

body[data-theme=colored] .sidebar-brand {
	color: #f8f9fa
}

.sidebar-brand:hover {
	color: #f8f9fa;
	text-decoration: none
}

body[data-theme=dark] .sidebar-brand:hover {
	color: #f8f9fa
}

body[data-theme=light] .sidebar-brand:hover {
	color: #495057
}

body[data-theme=colored] .sidebar-brand:hover {
	color: #f8f9fa
}

.sidebar-brand:focus {
	outline: 0
}

.sidebar-brand-text {
	display: block
}

.sidebar-brand-icon {
	display: none
}

.sidebar-toggle {
	cursor: pointer;
	display: flex;
	height: 26px;
	width: 26px
}

body:not([data-sidebar-position=right]) .sidebar.collapsed {
	margin-left: -264px
}

@media(max-width:991.98px) {
	body:not([data-sidebar-position=right]) .sidebar {
		margin-left: -264px
	}
	body:not([data-sidebar-position=right]) .sidebar.collapsed {
		margin-left: 0
	}
}

body:not([data-sidebar-position=right]) .sidebar-toggle {
	margin-right: 1rem
}

body[data-sidebar-position=right] .sidebar.collapsed {
	margin-right: -264px
}

@media(max-width:991.98px) {
	body[data-sidebar-position=right] .sidebar {
		margin-right: -264px
	}
	body[data-sidebar-position=right] .sidebar.collapsed {
		margin-right: 0
	}
}

body[data-sidebar-position=right] .sidebar-toggle {
	margin-left: 1rem
}

body[data-sidebar-position=right] .simplebar-track.simplebar-vertical {
	left: 0;
	right: auto
}

.sidebar-header {
	background: transparent;
	color: #ced4da;
	font-size: .75rem;
	padding: 1.5rem 1.5rem .375rem
}

body[data-theme=dark] .sidebar-header {
	color: #ced4da
}

body[data-theme=light] .sidebar-header {
	color: #495057
}

body[data-theme=colored] .sidebar-header {
	color: #ced4da
}

.sidebar-badge {
	color: #fff;
	position: absolute;
	right: 15px;
	top: 14px;
	z-index: 1
}

.sidebar-cta-content {
	background: #2b3947;
	border-radius: .3rem;
	color: #e9ecef;
	margin: 1.75rem;
	padding: 1.5rem
}

body[data-theme=dark] .sidebar-cta-content {
	background: #2b3947
}

body[data-theme=light] .sidebar-cta-content {
	background: #f2f4f6
}

body[data-theme=colored] .sidebar-cta-content {
	background: #18488d
}

body[data-theme=dark] .sidebar-cta-content {
	color: #e9ecef
}

body[data-theme=light] .sidebar-cta-content {
	color: #343a40
}

body[data-theme=colored] .sidebar-cta-content {
	color: #e9ecef
}

.sidebar-user {
	padding: .75rem 1.5rem
}

.sidebar-user a {
	outline: 0;
	text-decoration: none
}

.sidebar-user-title,
.sidebar-user-title:hover,
body[data-theme=dark] .sidebar-user-title,
body[data-theme=dark] .sidebar-user-title:hover {
	color: #e9ecef
}

body[data-theme=light] .sidebar-user-title,
body[data-theme=light] .sidebar-user-title:hover {
	color: #020202
}

body[data-theme=colored] .sidebar-user-title,
body[data-theme=colored] .sidebar-user-title:hover {
	color: #e9ecef
}

.sidebar-user-subtitle,
body[data-theme=dark] .sidebar-user-subtitle {
	color: #adb5bd
}

body[data-theme=light] .sidebar-user-subtitle {
	color: #6c757d
}

body[data-theme=colored] .sidebar-user-subtitle {
	color: #adb5bd
}

body[data-sidebar-layout=compact] [data-simplebar] {
	position: relative;
	width: 74px
}

body[data-sidebar-layout=compact] .sidebar-badge,
body[data-sidebar-layout=compact] .sidebar-cta,
body[data-sidebar-layout=compact] .sidebar-header,
body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item .sidebar-link span,
body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown,
body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-link:after,
body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-link:before,
body[data-sidebar-layout=compact] .sidebar-user {
	display: none
}

body[data-sidebar-layout=compact] .sidebar-brand {
	text-align: center
}

body[data-sidebar-layout=compact] .simplebar-horizontal,
body[data-sidebar-layout=compact] .simplebar-vertical {
	visibility: hidden!important
}

body[data-sidebar-layout=compact] .simplebar-content-wrapper,
body[data-sidebar-layout=compact] .simplebar-height-auto-observer-wrapper,
body[data-sidebar-layout=compact] .simplebar-mask,
body[data-sidebar-layout=compact] .simplebar-wrapper {
	overflow: visible!important
}

body[data-sidebar-layout=compact] .sidebar-dropdown.collapsing {
	height: auto;
	overflow: visible;
	transition: none
}

body[data-sidebar-layout=compact] .sidebar {
	max-width: 74px;
	min-width: 74px;
	z-index: 5
}

body[data-sidebar-layout=compact] .sidebar-brand-text {
	display: none
}

body[data-sidebar-layout=compact] .sidebar-brand-icon {
	display: block
}

body[data-sidebar-layout=compact] .sidebar-item {
	position: relative
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown {
	background: #fff;
	border-radius: .3rem;
	box-shadow: 0 .5rem 3rem .5rem rgba(0, 0, 0, .05);
	display: none;
	overflow: visible;
	padding: .5rem 0;
	position: absolute;
	top: 0;
	width: 220px;
	z-index: 1
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown:before {
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	width: 16px
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-link {
	color: #6c757d;
	padding: .5rem 1.5rem
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-link:hover {
	color: #518be1
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-link:before {
	left: -10px
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-item.active .sidebar-link,
body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-item.active .sidebar-link:hover {
	color: #518be1
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown .sidebar-dropdown .sidebar-link {
	padding: .5rem 1.5rem .5rem 2.5rem
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown .sidebar-dropdown .sidebar-dropdown .sidebar-link {
	padding: .5rem 1.5rem .5rem 3.5rem
}

body[data-sidebar-layout=compact] .sidebar .sidebar-dropdown [data-bs-toggle=collapse]:after {
	top: .9rem
}

body[data-sidebar-layout=compact] .sidebar .sidebar-dropdown [aria-expanded=true]:after,
body[data-sidebar-layout=compact] .sidebar .sidebar-dropdown [data-bs-toggle=collapse]:not(.collapsed):after {
	top: 1.1rem
}

body[data-sidebar-layout=compact] .sidebar-nav>.sidebar-item:hover>.sidebar-dropdown {
	display: block
}

body[data-sidebar-layout=compact]:not([data-sidebar-position=right]) .sidebar-nav>.sidebar-item>.sidebar-dropdown {
	left: 86px
}

body[data-sidebar-layout=compact]:not([data-sidebar-position=right]) .sidebar-nav>.sidebar-item>.sidebar-dropdown:before {
	left: -16px
}

body[data-sidebar-layout=compact]:not([data-sidebar-position=right]) .sidebar.collapsed {
	margin-left: -74px
}

@media(max-width:991.98px) {
	body[data-sidebar-layout=compact]:not([data-sidebar-position=right]) .sidebar {
		margin-left: -74px
	}
	body[data-sidebar-layout=compact]:not([data-sidebar-position=right]) .sidebar.collapsed {
		margin-left: 0
	}
}

body[data-sidebar-layout=compact][data-sidebar-position=right] .sidebar-nav>.sidebar-item>.sidebar-dropdown {
	right: 86px
}

body[data-sidebar-layout=compact][data-sidebar-position=right] .sidebar-nav>.sidebar-item>.sidebar-dropdown:before {
	right: -16px
}

body[data-sidebar-layout=compact][data-sidebar-position=right] .sidebar.collapsed {
	margin-right: -74px
}

@media(max-width:991.98px) {
	body[data-sidebar-layout=compact][data-sidebar-position=right] .sidebar {
		margin-right: -74px
	}
	body[data-sidebar-layout=compact][data-sidebar-position=right] .sidebar.collapsed {
		margin-right: 0
	}
}

.form-check-input, .form-check-label {
	cursor: pointer;
}

@keyframes spinner-border {
	to {
		transform: rotate(1turn);
	}
}

.spinner-border {
	animation: spinner-border .75s linear infinite;
	border: .25em solid;
	border-radius: 50%;
	border-right: .25em solid transparent;
	display: inline-block;
	height: 2rem;
	vertical-align: -.125em;
	width: 2rem
}

.spinner-border-sm {
	border-width: .2em;
	height: 1rem;
	width: 1rem
}

@keyframes spinner-grow {
	0% {
		transform: scale(0)
	}
	50% {
		opacity: 1;
		transform: none
	}
}

.spinner-grow {
	animation: spinner-grow .75s linear infinite;
	background-color: currentColor;
	border-radius: 50%;
	display: inline-block;
	height: 2rem;
	opacity: 0;
	vertical-align: -.125em;
	width: 2rem
}

.spinner-grow-sm {
	height: 1rem;
	width: 1rem
}

@media(prefers-reduced-motion:reduce) {
	.spinner-border,
	.spinner-grow {
		animation-duration: 1.5s
	}
}

.alert {
	border: 0 solid transparent;
	border-radius: .2rem;
	margin-bottom: 1rem;
	padding: .95rem;
	position: relative
}

.alert-heading {
	color: inherit
}

.alert-link {
	font-weight: 600
}

.alert-dismissible {
	padding-right: 2.85rem
}

.alert-dismissible .btn-close {
	padding: 1.1875rem .95rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2
}

.alert-primary {
	background-color: #d8e5f8;
	border-color: #c4d8f5;
	color: #234b85
}

.alert-primary .alert-link {
	color: #1c3c6a
}

.alert-secondary {
	background-color: #e2e3e5;
	border-color: #d3d6d8;
	color: #41464b
}

.alert-secondary .alert-link {
	color: #34383c
}

.alert-success {
	background-color: #d2f1e8;
	border-color: #bbebdd;
	color: #117054
}

.alert-success .alert-link {
	color: #0e5a43
}

.alert-info {
	background-color: #d1ecf1;
	border-color: #b9e3ea;
	color: #0e616e
}

.alert-info .alert-link {
	color: #0b4e58
}

.alert-warning {
	background-color: #fef1d5;
	border-color: #feeac0;
	color: #976f1a
}

.alert-warning .alert-link {
	color: #795915
}

.alert-danger {
	background-color: #f8d7da;
	border-color: #f5c2c7;
	color: #842029
}

.alert-danger .alert-link {
	color: #6a1a21
}

.alert-light {
	background-color: #fdfdfe;
	border-color: #fcfdfe;
	color: #626364
}

.alert-light .alert-link {
	color: #4e4f50
}

.alert-dark {
	background-color: #d3d3d4;
	border-color: #bcbebf;
	color: #141619
}

.alert-dark .alert-link {
	color: #101214
}

.alert {
	display: flex;
	padding: 0
}

.alert .close:focus,
.alert .close:hover {
	opacity: 1
}

.alert-outline,
.alert-outline-coloured {
	background: #fff;
	color: #495057
}

.alert-outline hr,
.alert-outline-coloured hr {
	border-top-color: #ced4da
}

.alert-outline .close:focus,
.alert-outline .close:hover,
.alert-outline-coloured .close:focus,
.alert-outline-coloured .close:hover {
	color: #343a40
}

.alert-outline .alert-message,
.alert-outline-coloured .alert-message {
	border: 1px solid #ced4da;
	border-bottom-left-radius: .2rem;
	border-bottom-right-radius: .2rem;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem
}

.alert-outline .alert-message:not(:nth-child(2)),
.alert-outline-coloured .alert-message:not(:nth-child(2)) {
	border-bottom-left-radius: 0;
	border-left: 0;
	border-top-left-radius: 0
}

.alert-outline .alert-icon,
.alert-outline-coloured .alert-icon {
	border-bottom-left-radius: .2rem;
	border-top-left-radius: .2rem;
	color: #fff
}

.alert-outline-coloured.alert-primary .alert-icon,
.alert-outline.alert-primary .alert-icon {
	background-color: #3b7ddd
}

.alert-outline-coloured.alert-secondary .alert-icon,
.alert-outline.alert-secondary .alert-icon {
	background-color: #6c757d
}

.alert-outline-coloured.alert-success .alert-icon,
.alert-outline.alert-success .alert-icon {
	background-color: #1cbb8c
}

.alert-outline-coloured.alert-info .alert-icon,
.alert-outline.alert-info .alert-icon {
	background-color: #17a2b8
}

.alert-outline-coloured.alert-warning .alert-icon,
.alert-outline.alert-warning .alert-icon {
	background-color: #fcb92c
}

.alert-outline-coloured.alert-danger .alert-icon,
.alert-outline.alert-danger .alert-icon {
	background-color: #dc3545
}

.alert-outline-coloured.alert-light .alert-icon,
.alert-outline.alert-light .alert-icon {
	background-color: #f5f7fb
}

.alert-outline-coloured.alert-dark .alert-icon,
.alert-outline.alert-dark .alert-icon {
	background-color: #212529
}

.alert-outline-coloured.alert-primary .alert-message {
	border-color: #3b7ddd
}

.alert-outline-coloured.alert-secondary .alert-message {
	border-color: #6c757d
}

.alert-outline-coloured.alert-success .alert-message {
	border-color: #1cbb8c
}

.alert-outline-coloured.alert-info .alert-message {
	border-color: #17a2b8
}

.alert-outline-coloured.alert-warning .alert-message {
	border-color: #fcb92c
}

.alert-outline-coloured.alert-danger .alert-message {
	border-color: #dc3545
}

.alert-outline-coloured.alert-light .alert-message {
	border-color: #f5f7fb
}

.alert-outline-coloured.alert-dark .alert-message {
	border-color: #212529
}

.alert-icon {
	background: rgba(0, 0, 0, .05);
	padding: .95rem
}

.alert-message {
	box-sizing: border-box;
	padding: .95rem;
	width: 100%
}

.pagination {
	display: flex;
	list-style: none;
	padding-left: 0
}

.page-link {
	background-color: #fff;
	border: 1px solid #dee2e6;
	color: #6c757d;
	display: block;
	position: relative;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media(prefers-reduced-motion:reduce) {
	.page-link {
		transition: none
	}
}

.page-link:hover {
	background-color: #e9ecef;
	border-color: #dee2e6;
	color: #343a40;
	text-decoration: none;
	z-index: 2
}

.page-link:focus {
	background-color: #e9ecef;
	box-shadow: 0 0 0 .2rem rgba(59, 125, 221, .25);
	color: #2f64b1;
	outline: 0;
	z-index: 3
}

.page-item:not(:first-child) .page-link {
	margin-left: -1px
}

.page-item.active .page-link {
	background-color: #3b7ddd;
	border-color: #3b7ddd;
	z-index: 3
}

.page-item.disabled .page-link {
	background-color: #fff;
	border-color: #dee2e6;
	color: #6c757d;
	pointer-events: none
}

.page-link {
	padding: .3rem .75rem
}

.page-item:first-child .page-link {
	border-bottom-left-radius: .2rem;
	border-top-left-radius: .2rem
}

.page-item:last-child .page-link {
	border-bottom-right-radius: .2rem;
	border-top-right-radius: .2rem
}

.pagination-lg .page-link {
	font-size: .925rem;
	padding: .35rem 1rem
}

.pagination-lg .page-item:first-child .page-link {
	border-bottom-left-radius: .3rem;
	border-top-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
	border-bottom-right-radius: .3rem;
	border-top-right-radius: .3rem
}

.pagination-sm .page-link {
	font-size: .75rem;
	padding: .15rem .5rem
}

.pagination-sm .page-item:first-child .page-link {
	border-bottom-left-radius: .1rem;
	border-top-left-radius: .1rem
}

.pagination-sm .page-item:last-child .page-link {
	border-bottom-right-radius: .1rem;
	border-top-right-radius: .1rem
}

.page-item:not(:first-child) .page-link {
	margin-left: -1px
}

.page-item.active .page-link {
	background-color: #3b7ddd;
	border-color: #3b7ddd;
	z-index: 3
}

.page-item.disabled .page-link {
	background-color: #fff;
	border-color: #dee2e6;
	color: #6c757d;
	pointer-events: none
}

.page-link {
	padding: .3rem .75rem
}

.page-item:first-child .page-link {
	border-bottom-left-radius: .2rem;
	border-top-left-radius: .2rem
}

.page-item:last-child .page-link {
	border-bottom-right-radius: .2rem;
	border-top-right-radius: .2rem
}

.pagination-lg .page-link {
	font-size: .925rem;
	padding: .35rem 1rem
}

.pagination-lg .page-item:first-child .page-link {
	border-bottom-left-radius: .3rem;
	border-top-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
	border-bottom-right-radius: .3rem;
	border-top-right-radius: .3rem
}

.pagination-sm .page-link {
	font-size: .75rem;
	padding: .15rem .5rem
}

.pagination-sm .page-item:first-child .page-link {
	border-bottom-left-radius: .1rem;
	border-top-left-radius: .1rem
}

.pagination-sm .page-item:last-child .page-link {
	border-bottom-right-radius: .1rem;
	border-top-right-radius: .1rem
}

.page-item.active .page-link{color:#fff}

.table-action {
	min-width: 50px;
	text-align: right;
	& > * {
		cursor: pointer;
	}
}

.pagination {
	margin: 0;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6
}

.nav-tabs .nav-link {
	background: none;
	border: 1px solid transparent;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
	margin-bottom: -1px
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border-color: #e9ecef #e9ecef #dee2e6;
	isolation: isolate
}

.nav-tabs .nav-link.disabled {
	background-color: transparent;
	border-color: transparent;
	color: #6c757d
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-color: #f5f7fb;
	border-color: #dee2e6 #dee2e6 #f5f7fb;
	color: #495057
}

.nav-tabs .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -1px
}

.nav-pills .nav-link {
	background: none;
	border: 0;
	border-radius: .2rem
}

.tab .nav-tabs {
	border: 0
}

.tab .nav-tabs .nav-link {
	background: transparent;
	border: 0;
	color: #343a40;
	padding: .75rem 1rem
}

.tab .nav-tabs .nav-link.active {
	background: #fff;
	color: #343a40
}

.tab .nav-tabs .nav-link:hover:not(.active) {
	color: #3b7ddd
}

.tab .nav-tabs .nav-link svg {
	height: 20px;
	width: 20px
}

.tab .tab-content {
	background: #fff;
	border-radius: 0 0 .2rem .2rem;
	box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
	padding: 1.25rem
}

.tab .tab-content p:last-child {
	margin-bottom: 0
}

.tab-primary .nav-tabs .nav-link.active {
	background: #3b7ddd;
	border-bottom-color: #3b7ddd;
	color: #fff
}

.tab-primary .tab-content {
	background: #3b7ddd;
	color: #fff
}

.tab-primary .h1,
.tab-primary .h2,
.tab-primary .h3,
.tab-primary .h4,
.tab-primary .h5,
.tab-primary .h6,
.tab-primary h1,
.tab-primary h2,
.tab-primary h3,
.tab-primary h4,
.tab-primary h5,
.tab-primary h6 {
	color: #fff
}

.tab-secondary .nav-tabs .nav-link.active {
	background: #6c757d;
	border-bottom-color: #6c757d;
	color: #fff
}

.tab-secondary .tab-content {
	background: #6c757d;
	color: #fff
}

.tab-secondary .h1,
.tab-secondary .h2,
.tab-secondary .h3,
.tab-secondary .h4,
.tab-secondary .h5,
.tab-secondary .h6,
.tab-secondary h1,
.tab-secondary h2,
.tab-secondary h3,
.tab-secondary h4,
.tab-secondary h5,
.tab-secondary h6 {
	color: #fff
}

.tab-success .nav-tabs .nav-link.active {
	background: #1cbb8c;
	border-bottom-color: #1cbb8c;
	color: #fff
}

.tab-success .tab-content {
	background: #1cbb8c;
	color: #fff
}

.tab-success .h1,
.tab-success .h2,
.tab-success .h3,
.tab-success .h4,
.tab-success .h5,
.tab-success .h6,
.tab-success h1,
.tab-success h2,
.tab-success h3,
.tab-success h4,
.tab-success h5,
.tab-success h6 {
	color: #fff
}

.tab-info .nav-tabs .nav-link.active {
	background: #17a2b8;
	border-bottom-color: #17a2b8;
	color: #fff
}

.tab-info .tab-content {
	background: #17a2b8;
	color: #fff
}

.tab-info .h1,
.tab-info .h2,
.tab-info .h3,
.tab-info .h4,
.tab-info .h5,
.tab-info .h6,
.tab-info h1,
.tab-info h2,
.tab-info h3,
.tab-info h4,
.tab-info h5,
.tab-info h6 {
	color: #fff
}

.tab-warning .nav-tabs .nav-link.active {
	background: #fcb92c;
	border-bottom-color: #fcb92c;
	color: #fff
}

.tab-warning .tab-content {
	background: #fcb92c;
	color: #fff
}

.tab-warning .h1,
.tab-warning .h2,
.tab-warning .h3,
.tab-warning .h4,
.tab-warning .h5,
.tab-warning .h6,
.tab-warning h1,
.tab-warning h2,
.tab-warning h3,
.tab-warning h4,
.tab-warning h5,
.tab-warning h6 {
	color: #fff
}

.tab-danger .nav-tabs .nav-link.active {
	background: #dc3545;
	border-bottom-color: #dc3545;
	color: #fff
}

.tab-danger .tab-content {
	background: #dc3545;
	color: #fff
}

.tab-danger .h1,
.tab-danger .h2,
.tab-danger .h3,
.tab-danger .h4,
.tab-danger .h5,
.tab-danger .h6,
.tab-danger h1,
.tab-danger h2,
.tab-danger h3,
.tab-danger h4,
.tab-danger h5,
.tab-danger h6 {
	color: #fff
}

.tab-light .nav-tabs .nav-link.active {
	background: #f5f7fb;
	border-bottom-color: #f5f7fb;
	color: #fff
}

.tab-light .tab-content {
	background: #f5f7fb;
	color: #fff
}

.tab-light .h1,
.tab-light .h2,
.tab-light .h3,
.tab-light .h4,
.tab-light .h5,
.tab-light .h6,
.tab-light h1,
.tab-light h2,
.tab-light h3,
.tab-light h4,
.tab-light h5,
.tab-light h6 {
	color: #fff
}

.tab-dark .nav-tabs .nav-link.active {
	background: #212529;
	border-bottom-color: #212529;
	color: #fff
}

.tab-dark .tab-content {
	background: #212529;
	color: #fff
}

.tab-dark .h1,
.tab-dark .h2,
.tab-dark .h3,
.tab-dark .h4,
.tab-dark .h5,
.tab-dark .h6,
.tab-dark h1,
.tab-dark h2,
.tab-dark h3,
.tab-dark h4,
.tab-dark h5,
.tab-dark h6 {
	color: #fff
}

.tab-title {
	font-size: .925rem
}

.tab-vertical .nav-tabs {
	flex-direction: column;
	float: left
}

.tab-vertical .nav-tabs .nav-link {
	border-bottom-left-radius: .2rem;
	border-bottom-right-radius: 0;
	border-top-left-radius: .2rem;
	border-top-right-radius: 0
}

.tab-vertical .tab-content {
	overflow: auto
}

.modal {
	display: none;
	height: 100%;
	left: 0;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1055
}

.modal-dialog {
	margin: .5rem;
	pointer-events: none;
	position: relative;
	width: auto
}

.modal.fade .modal-dialog {
	transform: translateY(-50px);
	transition: transform .25s ease-out
}

@media(prefers-reduced-motion:reduce) {
	.modal.fade .modal-dialog {
		transition: none
	}
}

.modal.show .modal-dialog {
	transform: none
}

.modal.modal-static .modal-dialog {
	transform: scale(1.02)
}

.modal-dialog-scrollable {
	height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
	max-height: 100%;
	overflow: hidden
}

.modal-dialog-scrollable .modal-body {
	overflow-y: auto
}

.modal-dialog-centered {
	align-items: center;
	display: flex;
	min-height: calc(100% - 1rem)
}

.modal-content {
	background-clip: padding-box;
	background-color: #fff;
	border: 0 solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	display: flex;
	flex-direction: column;
	outline: 0;
	pointer-events: auto;
	position: relative;
	width: 100%
}

.modal-backdrop {
	background-color: #000;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1050
}

.modal-backdrop.fade {
	opacity: 0
}

.modal-backdrop.show {
	opacity: .5
}

.modal-header {
	align-items: center;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	padding: 1rem
}

.modal-header .btn-close {
	margin: -.5rem -.5rem -.5rem auto;
	padding: .5rem
}

.modal-title {
	line-height: 1.5;
	margin-bottom: 0
}

.modal-body {
	flex: 1 1 auto;
	padding: 1rem;
	position: relative
}

.modal-footer {
	align-items: center;
	border-bottom-left-radius: .3rem;
	border-bottom-right-radius: .3rem;
	border-top: 1px solid #dee2e6;
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: .75rem
}

.modal-footer>* {
	margin: .25rem
}

@media(min-width:576px) {
	.modal-dialog {
		margin: 1.75rem auto;
		max-width: 600px
	}
	.modal-dialog-scrollable {
		height: calc(100% - 3.5rem)
	}
	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem)
	}
	.modal-sm {
		max-width: 400px
	}
}

@media(min-width:992px) {
	.modal-lg,
	.modal-xl {
		max-width: 900px
	}
}

@media(min-width:1200px) {
	.modal-xl {
		max-width: 1140px
	}
}

.modal-fullscreen {
	height: 100%;
	margin: 0;
	max-width: none;
	width: 100vw
}

.modal-fullscreen .modal-content {
	border: 0;
	border-radius: 0;
	height: 100%
}

.modal-fullscreen .modal-header {
	border-radius: 0
}

.modal-fullscreen .modal-body {
	overflow-y: auto
}

.modal-fullscreen .modal-footer {
	border-radius: 0
}

@media(max-width:575.98px) {
	.modal-fullscreen-sm-down {
		height: 100%;
		margin: 0;
		max-width: none;
		width: 100vw
	}
	.modal-fullscreen-sm-down .modal-content {
		border: 0;
		border-radius: 0;
		height: 100%
	}
	.modal-fullscreen-sm-down .modal-header {
		border-radius: 0
	}
	.modal-fullscreen-sm-down .modal-body {
		overflow-y: auto
	}
	.modal-fullscreen-sm-down .modal-footer {
		border-radius: 0
	}
}

@media(max-width:767.98px) {
	.modal-fullscreen-md-down {
		height: 100%;
		margin: 0;
		max-width: none;
		width: 100vw
	}
	.modal-fullscreen-md-down .modal-content {
		border: 0;
		border-radius: 0;
		height: 100%
	}
	.modal-fullscreen-md-down .modal-header {
		border-radius: 0
	}
	.modal-fullscreen-md-down .modal-body {
		overflow-y: auto
	}
	.modal-fullscreen-md-down .modal-footer {
		border-radius: 0
	}
}

@media(max-width:991.98px) {
	.modal-fullscreen-lg-down {
		height: 100%;
		margin: 0;
		max-width: none;
		width: 100vw
	}
	.modal-fullscreen-lg-down .modal-content {
		border: 0;
		border-radius: 0;
		height: 100%
	}
	.modal-fullscreen-lg-down .modal-header {
		border-radius: 0
	}
	.modal-fullscreen-lg-down .modal-body {
		overflow-y: auto
	}
	.modal-fullscreen-lg-down .modal-footer {
		border-radius: 0
	}
}

@media(max-width:1199.98px) {
	.modal-fullscreen-xl-down {
		height: 100%;
		margin: 0;
		max-width: none;
		width: 100vw
	}
	.modal-fullscreen-xl-down .modal-content {
		border: 0;
		border-radius: 0;
		height: 100%
	}
	.modal-fullscreen-xl-down .modal-header {
		border-radius: 0
	}
	.modal-fullscreen-xl-down .modal-body {
		overflow-y: auto
	}
	.modal-fullscreen-xl-down .modal-footer {
		border-radius: 0
	}
}

@media(max-width:1439.98px) {
	.modal-fullscreen-xxl-down {
		height: 100%;
		margin: 0;
		max-width: none;
		width: 100vw
	}
	.modal-fullscreen-xxl-down .modal-content {
		border: 0;
		border-radius: 0;
		height: 100%
	}
	.modal-fullscreen-xxl-down .modal-header {
		border-radius: 0
	}
	.modal-fullscreen-xxl-down .modal-body {
		overflow-y: auto
	}
	.modal-fullscreen-xxl-down .modal-footer {
		border-radius: 0
	}
}

.modal-primary .h1,
.modal-primary .h2,
.modal-primary .h3,
.modal-primary .h4,
.modal-primary .h5,
.modal-primary .h6,
.modal-primary h1,
.modal-primary h2,
.modal-primary h3,
.modal-primary h4,
.modal-primary h5,
.modal-primary h6 {
	color: #fff
}

.modal-secondary .modal-content {
	background: #6c757d;
}

.modal-secondary .h1,
.modal-secondary .h2,
.modal-secondary .h3,
.modal-secondary .h4,
.modal-secondary .h5,
.modal-secondary .h6,
.modal-secondary h1,
.modal-secondary h2,
.modal-secondary h3,
.modal-secondary h4,
.modal-secondary h5,
.modal-secondary h6 {
	color: #fff
}

.modal-success .modal-content {
	background: #1cbb8c;
}

.modal-success .h1,
.modal-success .h2,
.modal-success .h3,
.modal-success .h4,
.modal-success .h5,
.modal-success .h6,
.modal-success h1,
.modal-success h2,
.modal-success h3,
.modal-success h4,
.modal-success h5,
.modal-success h6 {
	color: #fff
}

.modal-info .modal-content {
	background: #17a2b8;
}

.modal-info .h1,
.modal-info .h2,
.modal-info .h3,
.modal-info .h4,
.modal-info .h5,
.modal-info .h6,
.modal-info h1,
.modal-info h2,
.modal-info h3,
.modal-info h4,
.modal-info h5,
.modal-info h6 {
	color: #fff
}

.modal-warning .modal-content {
	background: #fcb92c;
}

.modal-warning .h1,
.modal-warning .h2,
.modal-warning .h3,
.modal-warning .h4,
.modal-warning .h5,
.modal-warning .h6,
.modal-warning h1,
.modal-warning h2,
.modal-warning h3,
.modal-warning h4,
.modal-warning h5,
.modal-warning h6 {
	color: #fff
}

.modal-danger .modal-content {
	background: #dc3545;
}

.modal-danger .h1,
.modal-danger .h2,
.modal-danger .h3,
.modal-danger .h4,
.modal-danger .h5,
.modal-danger .h6,
.modal-danger h1,
.modal-danger h2,
.modal-danger h3,
.modal-danger h4,
.modal-danger h5,
.modal-danger h6 {
	color: #fff
}

.modal-light .modal-content {
	background: #f5f7fb;
}

.modal-light .h1,
.modal-light .h2,
.modal-light .h3,
.modal-light .h4,
.modal-light .h5,
.modal-light .h6,
.modal-light h1,
.modal-light h2,
.modal-light h3,
.modal-light h4,
.modal-light h5,
.modal-light h6 {
	color: #fff
}

.modal-dark .modal-content {
	background: #212529;
}

.modal-dark .h1,
.modal-dark .h2,
.modal-dark .h3,
.modal-dark .h4,
.modal-dark .h5,
.modal-dark .h6,
.modal-dark h1,
.modal-dark h2,
.modal-dark h3,
.modal-dark h4,
.modal-dark h5,
.modal-dark h6 {
	color: #fff
}

.modal-colored .modal-footer,
.modal-colored .modal-header {
	border-color: hsla(0, 0%, 100%, .33)
}

.activity {
	display: flex;
	&:not(:last-child) {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgba(#495057, 0.25);
	}
}

:root {
	--heading-color: #000;
	--hamburger-bg: #495057;
	--nav-icon-color: #6c757d;
	--white-bg: #fff;
	--white-bg-hover: #f8f9fa;
	--card-title-color: #939ba2;
	--text-muted-color: #6c757d;
	--border-color: #dee2e6;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
}

.hamburger {
	background: var(--hamburger-bg);
	&::before, &::after {
		background: var(--hamburger-bg);
	}
}

.nav-flag, .nav-icon {
	color: var(--nav-icon-color);
}

footer.footer {
	background: var(--white-bg);
}

.card {
	background-color: var(--white-bg);
	&-header {
		background-color: inherit;
	}
	&-title {
		color: var(--card-title-color);
	}
}

.dropdown-menu, .list-group-item {
	background-color: var(--white-bg);
}

.dropdown .list-group .list-group-item:hover {
	background-color: var(--white-bg-hover);
}

.text-muted {
	color: var(--text-muted-color) !important;
}

.border {
	border: 1px solid var(--border-color) !important;
}

.form-control {
	color: var(--hamburger-bg);
	background-color: var(--white-bg);
	&:focus {
		color: var(--hamburger-bg);
		background-color: var(--white-bg);
	}
}

.main {
	background: var(--bs-body-bg);
}

.tab .tab-content {
	background-color: var(--white-bg);
}

.modal-content {
	background: var(--bs-body-bg);
}

.modal-header, .modal-footer {
	border-color: var(--border-color);
}

.breadcrumbs {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 1.3rem;
	line-height: 1;
	color: var(--heading-color);
	vertical-align: middle;
	& > *:not(:last-child) {
		margin-right: 0.5rem;
	}
	&__item {
		color: var(--heading-color);
		&:hover, &:focus {
			color: var(--heading-color);
			text-decoration: none;
		}
	}
	&__separator {
		color: var(--nav-icon-color);
	}
}

.accordion-button {
	align-items: center;
	background-color: #f5f7fb;
	border: 0;
	border-radius: 0;
	color: #495057;
	display: flex;
	font-size: .875rem;
	overflow-anchor: none;
	padding: 1rem 1.25rem;
	position: relative;
	text-align: left;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
	width: 100%
}

@media(prefers-reduced-motion:reduce) {
	.accordion-button {
		transition: none
	}
}

.accordion-button:not(.collapsed) {
	background-color: #ebf2fc;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
	color: #3571c7
}

.accordion-button:not(.collapsed):after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233571c7'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
	transform: rotate(-180deg)
}

.accordion-button:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23495057'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 1.25rem;
	content: "";
	flex-shrink: 0;
	height: 1.25rem;
	margin-left: auto;
	transition: transform .2s ease-in-out;
	width: 1.25rem
}

@media(prefers-reduced-motion:reduce) {
	.accordion-button:after {
		transition: none
	}
}

.accordion-button:hover {
	z-index: 2
}

.accordion-button:focus {
	border-color: #9dbeee;
	box-shadow: 0 0 0 .2rem rgba(59, 125, 221, .25);
	outline: 0;
	z-index: 3
}

.accordion-header {
	margin-bottom: 0
}

.accordion-item {
	background-color: #f5f7fb;
	border: 1px solid rgba(0, 0, 0, .125)
}

.accordion-item:first-of-type {
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem
}

.accordion-item:first-of-type .accordion-button {
	border-top-left-radius: calc(.2rem - 1px);
	border-top-right-radius: calc(.2rem - 1px)
}

.accordion-item:not(:first-of-type) {
	border-top: 0
}

.accordion-item:last-of-type {
	border-bottom-left-radius: .2rem;
	border-bottom-right-radius: .2rem
}

.accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom-left-radius: calc(.2rem - 1px);
	border-bottom-right-radius: calc(.2rem - 1px)
}

.accordion-item:last-of-type .accordion-collapse {
	border-bottom-left-radius: .2rem;
	border-bottom-right-radius: .2rem
}

.accordion-body {
	padding: 1rem 1.25rem
}

.accordion-flush .accordion-collapse {
	border-width: 0
}

.accordion-flush .accordion-item {
	border-left: 0;
	border-radius: 0;
	border-right: 0
}

.accordion-flush .accordion-item:first-child {
	border-top: 0
}

.accordion-flush .accordion-item:last-child {
	border-bottom: 0
}

.accordion-flush .accordion-item .accordion-button {
	border-radius: 0
}

.accordion .card:not(:last-child) {
	margin-bottom: 0
}

.accordion .card-header {
	border-bottom: 0
}

.accordion .card-body {
	border-top: 1px solid transparent
}

.accordion .card-title a {
	color: #495057
}

.log {
	display: block;
	&:not(:last-child) {
		margin-bottom: 0.3rem;
		padding-bottom: 0.3rem;
		border-bottom: 1px solid #dee2e6;
	}
	.log {
		margin-top: 0.3rem;
		margin-left: 1.4rem;
	}
	&__body {
		display: block;
		margin: 0.3rem 0;
		padding: 1rem 1.25rem;
		border-radius: 0.25rem 0.25rem 0 0;
		font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
		tab-size: 2;
		counter-reset: linenumber;
		hyphens: none;
		color: var(--bs-body-color);
		background: var(--bs-body-bg);
		position: relative;
		overflow: auto;
	}
	&__date {
		color: rgb(var(--bs-warning-rgb));
	}
	&__hyphen {
		color: rgb(var(--bs-danger-rgb));
	}
}

.translation {
	@extend .log__body;
	display: block;
	width: 100%;
	margin: 0;
	&:focus {
		outline: none;
	}
	&__comment {
		color: var(--bs-gray-500);
	}
	&__key {
		color: rgb(var(--bs-warning-rgb));
	}
	&__equals {
		color: rgb(var(--bs-danger-rgb));
	}
	&__quote {
		color: rgb(var(--bs-info-rgb));
	}
	&__value {}
}

.menu-item {
	display: flex;
	align-items: center;
	&__icon {
		flex-shrink: 0;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
	&__input {
		flex-grow: 1;
		border: none;
    background: none;
    box-shadow: none;
		outline: none;
		&:focus {
			border: none;
			background: none;
			box-shadow: none;
			outline: none;
		}
	}
	[contenteditable]:focus {
		outline: 0;
	}
}

.menu-list {
	&.sortable__ghost {
		background: var(--white-bg-hover);
		.list-group {
			display: none;
		}
	}
	.list-group:not(:empty) {
		margin: 1rem;
	}
}

.tooltip {
	word-wrap: break-word;
	display: block;
	font-family: var(--bs-font-sans-serif);
	font-size: .75rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.5;
	margin: 0;
	opacity: 0;
	position: absolute;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	z-index: 1080
}

.tooltip.show {
	opacity: .9
}

.tooltip .tooltip-arrow {
	display: block;
	height: .4rem;
	position: absolute;
	width: .8rem
}

.tooltip .tooltip-arrow:before {
	border-color: transparent;
	border-style: solid;
	content: "";
	position: absolute
}

.bs-tooltip-auto[data-popper-placement^=top],
.bs-tooltip-top {
	padding: .4rem 0
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow,
.bs-tooltip-top .tooltip-arrow {
	bottom: 0
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,
.bs-tooltip-top .tooltip-arrow:before {
	border-top-color: #000;
	border-width: .4rem .4rem 0;
	top: -1px
}

.bs-tooltip-auto[data-popper-placement^=right],
.bs-tooltip-end {
	padding: 0 .4rem
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow,
.bs-tooltip-end .tooltip-arrow {
	height: .8rem;
	left: 0;
	width: .4rem
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,
.bs-tooltip-end .tooltip-arrow:before {
	border-right-color: #000;
	border-width: .4rem .4rem .4rem 0;
	right: -1px
}

.bs-tooltip-auto[data-popper-placement^=bottom],
.bs-tooltip-bottom {
	padding: .4rem 0
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow,
.bs-tooltip-bottom .tooltip-arrow {
	top: 0
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,
.bs-tooltip-bottom .tooltip-arrow:before {
	border-bottom-color: #000;
	border-width: 0 .4rem .4rem;
	bottom: -1px
}

.bs-tooltip-auto[data-popper-placement^=left],
.bs-tooltip-start {
	padding: 0 .4rem
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow,
.bs-tooltip-start .tooltip-arrow {
	height: .8rem;
	right: 0;
	width: .4rem
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,
.bs-tooltip-start .tooltip-arrow:before {
	border-left-color: #000;
	border-width: .4rem 0 .4rem .4rem;
	left: -1px
}

.tooltip-inner {
	background-color: #000;
	border-radius: .2rem;
	color: #fff;
	max-width: 200px;
	padding: .25rem .5rem;
	text-align: center
}

.spinner-action {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgba(var(--bs-white-rgb), 0.8);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s;
	}
	&_active * {
		pointer-events: none;
	}
	&_active::before {
		z-index: 1;
		opacity: 1;
		visibility: visible;
	}
	[class*="spinner"] {
		position: absolute;
		z-index: -1;
		top: calc(50% - 1rem);
		left: calc(50% - 1rem);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s;
	}
	&_active [class*="spinner"] {
		z-index: 2;
		opacity: 1;
		visibility: visible;
	}
}

.foreign-form__table {
	thead > tr > th,
	thead > tr > td,
	tbody > tr > th,
	tbody > tr > td {
		vertical-align: baseline;
	}
	p {
		margin: 0;
	}
	img {
		display: inline-block;
		height: 1em;
		border-radius: 0.2rem;
		cursor: pointer;
	}
	.table-action {
		min-width: 74px;
	}
}

.table thead a {
	color: var(--bs-table-color);
}

.ql-snow .ql-tooltip input[type=text]:focus {
	outline: none;
}

[data-copy] {
	cursor: pointer;
}
