@media (min-width: 768px) {
	.filepond--item {
		width: calc(50% - 0.5em);
	}
}
@media (min-width: 992px) {
	.filepond--item {
		width: calc(33.333333% - 0.5em);
	}
}
@media (min-width: 1200px) {
	.filepond--item {
		width: calc(25% - 0.5em);
	}
}
@media (min-width: 1400px) {
	.filepond--item {
		width: calc(20% - 0.5em);
	}
}

.filepond--file-poster img {
	width: 100%;
	object-fit: contain;
}

.filepond--no-grid .filepond--item {
	width: 100%;
}

.filepond--image-preview-overlay-success {
	color: rgb(34 46 60);
}

.filepond--root {
	margin-bottom: 0;
}

.filepond--panel-root {
	background-color: #d8e5f8;
	border-radius: 0.2rem;
}

.filepond--drop-label {
	color: #234b85;
}
