.accordions {
  display: flex;
  flex-direction: column;
}

.accordion {
  display: flex;
  flex-direction: column;
  background: var(--color-box);
  border-bottom: var(--border);

  &:first-child {
    border-top-left-radius: var(--radius-xs);
    border-top-right-radius: var(--radius-xs);
  }

  &:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: var(--radius-xs);
    border-bottom-left-radius: var(--radius-xs);
  }

  // .accordion__header
  &__header {
    @include reset-btn;
    cursor: pointer;

    display: flex;
    gap: 1rem;
    align-items: center;

    padding: 1.5rem 2rem;

    font-size: 1.6rem;
    font-weight: var(--font-medium);
    color: var(--color-text);

    &:hover, &:focus, &:active {
      color: var(--color-text);
    }

    & > span {
      flex: 1 1 auto;
    }

    & > .ti {
      flex: 0 0 auto;
      font-size: 2rem;
      transition: var(--transition);
    }
  }

  // .accordion__body
  &__body {
    overflow: hidden;
    display: block;

    height: 0;

    visibility: hidden;

    transition: var(--transition);
  }

  // .accordion__content
  &__content {
    display: block;
    padding: 1.5rem 2rem;
  }

  // .accordion_active
  &_active {
    & > .accordion__header > .ti-chevron-right {
      transform: rotate(90deg);
    }

    & > .accordion__body {
      visibility: visible;
    }
  }

  // .accordion_underline
  &_underline > .accordion__header {
    &:hover, &:focus, &:active {
      & > *:not([class]) {
        text-decoration: underline;
      }
    }
  }

  // .accordion_underline.accordion_active
  &_underline.accordion_active > .accordion__header > *:not([class]) {
    text-decoration: underline;
  }
}
