.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  // .breadcrumb__item
  &__item {
    color: var(--color-text-muted);

    &:not(:first-child)::before {
      content: "/";
      margin-right: 0.5em;
    }
  }

  & + .section__title {
    margin-top: 1em;
  }
}
