.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  // .breadcrumb__item
  &__item {
    color: var(--color-text-muted);

    &:not(:first-child)::before {
      content: "/";
      margin-right: 0.5rem;
    }
  }

  & + * {
    margin-top: 2rem;
  }
}
