.dropdown {
  position: relative;

  & > .dropdown__menu {
    display: none;
  }

  // .dropdown__menu
  &__menu {
    position: fixed;
    z-index: var(--zi-tooltip);

    display: flex;
    flex-direction: column;

    width: max-content;
    min-width: 20rem;
    max-width: 30rem;
    padding: 0.5rem 0;

    background: var(--color-box);
    border: var(--border);
    border-radius: var(--radius-xs);
    box-shadow: var(--shadow);

    animation-name: dropdown-appear;
    animation-duration: var(--transition-time);
    animation-fill-mode: both;

    // .dropdown__menu_disappear
    &_disappear {
      animation-name: dropdown-disappear;
    }
  }

  // .dropdown__item
  &__item {
    @include reset-btn;
    cursor: pointer;

    display: block;

    margin: 0;
    padding: 0.75rem 1.5rem;

    font-size: 1.4rem;
    font-weight: var(--font-normal);
    color: var(--color-text);
    text-align: left;

    background: var(--color-box);

    transition: var(--transition);

    &:not(.disabled, :disabled, .active, .dropdown__header, .dropdown__text):hover,
    &:not(.disabled, :disabled, .active, .dropdown__header, .dropdown__text):focus,
    &:not(.disabled, :disabled, .active, .dropdown__header, .dropdown__text):active {
      color: var(--color-text);
      background: var(--color-border);
    }

    &.disabled,
    &:disabled {
      cursor: default;
      color: var(--color-text-muted);
    }

    &.active,
    &.active.disabled,
    &.active:disabled {
      color: #fff;
      background: var(--color-primary);
    }
  }

  // .dropdown__header
  &__header {
    @extend .dropdown__item;
    cursor: default;
    user-select: initial;

    padding-bottom: 0.25rem;

    font-size: 1.2rem;
    color: var(--color-text-muted);

    &:last-child {
      padding-bottom: inherit;
    }
  }

  // .dropdown__divider
  &__divider {
    cursor: default;
    user-select: initial;

    overflow: hidden;

    height: 0;
    margin: 0.5rem 0;

    opacity: 1;
    border-top: var(--border);
  }

  // .dropdown__text
  &__text {
    @extend .dropdown__item;
    cursor: default;
    user-select: initial;
    max-width: 20rem;
    color: var(--color-text-muted);
  }
}

@keyframes dropdown-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropdown-disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
