.loader {
  display: inline-block;

  width: 3.4rem;
  height: 3.4rem;

  border: 0.3rem solid var(--color-text);
  border-bottom-color: transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;

  // .loader_sm
  &_sm {
    width: 2.6rem;
    height: 2.6rem;
    border-width: 0.2rem;
  }

  // .loader_lg
  &_lg {
    width: 4.2rem;
    height: 4.2rem;
    border-width: 0.4rem;
  }

  // .loader_heading
  &_heading {
    border-color: var(--color-heading);
    border-bottom-color: transparent;
  }

  // .loader_subheading
  &_subheading {
    border-color: var(--color-subheading);
    border-bottom-color: transparent;
  }

  // .loader_muted
  &_muted {
    border-color: var(--color-text-muted);
    border-bottom-color: transparent;
  }

  // .loader_default
  &_default {
    border-color: var(--color-body);
    border-bottom-color: transparent;
  }

  // .loader_cancel
  &_cancel {
    border-color: var(--color-border);
    border-bottom-color: transparent;
  }

  @each $color in $accent-color-list {
    &_#{$color} {
      border-color: var(--color-#{$color});
      border-bottom-color: transparent;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
