.modals {
  position: fixed;
  z-index: var(--zi-modal);
  inset: 0;

  width: 100%;
  height: 100%;

  visibility: hidden;

  transition: var(--transition);

  &::before {
    content: "";

    position: absolute;
    z-index: var(--zi-default);
    inset: 0;

    width: 100%;
    height: 100%;

    background: transparent;

    transition: var(--transition);
  }
}

.modal {
  position: absolute;
  z-index: var(--zi-modal);
  top: var(--gap);
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;

  width: calc(100% - var(--gap) * 2);
  max-width: 60rem;
  height: auto;
  margin: -2rem 0 0;

  visibility: hidden;
  opacity: 0;
  background: var(--color-box);
  border-radius: var(--radius-xs);
  box-shadow: var(--shadow);

  transition: var(--transition);

  // .modal__header
  &__header {
    position: relative;

    display: block;

    padding: 1.5rem 4rem 1.5rem 2rem;

    color: var(--color-heading);

    border-bottom: var(--border);

    & + .modal__footer {
      border-top-width: 0;
    }
  }

  // .modal__close
  &__close {
    cursor: pointer;
    user-select: none;

    position: absolute;
    z-index: var(--zi-default);
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    font: inherit;
    font-size: 2rem;
    color: var(--color-text-muted);
    text-decoration: none;

    appearance: none;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;

    transition: var(--transition);

    &:hover,
    &:focus,
    &:active {
      color: var(--color-heading);
      text-decoration: none;
    }
  }

  // .modal__body
  &__body {
    overflow: hidden auto;
    overscroll-behavior: contain;
    display: block;

    max-height: calc(100vh - 12rem - var(--gap) * 2);
    padding: 2rem;
  }

  // .modal__footer
  &__footer {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    justify-content: flex-end;

    padding: 1rem 2rem;

    border-top: var(--border);
  }

  // .modal_center
  &_center {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  // .modal_sm
  &_sm {
    max-width: 40rem;
  }

  // .modal_lg
  &_lg {
    max-width: 80rem;
  }
}

.modal-open {
  // overflow: hidden;
  // padding-right: var(--scrollbar-width);

  & > .modals {
    visibility: visible;

    &::before {
      background: rgb(0 0 0 / 50%);
    }

    & > .modal.active {
      margin: 0;
      visibility: visible;
      opacity: 1;
    }
  }
}
