.pagination {
  display: flex;
  flex-wrap: wrap;

  // .pagination__item
  &__item {
    @extend .btn;
    @extend .btn_icon;
    @extend .btn_default;
    cursor: pointer;

    min-width: 3.4rem;
    min-height: 3.4rem;
    padding: 0.9rem;

    border-radius: 0;

    &:first-child {
      border-top-left-radius: var(--radius-xs);
      border-bottom-left-radius: var(--radius-xs);
    }

    &:last-child {
      border-top-right-radius: var(--radius-xs);
      border-bottom-right-radius: var(--radius-xs);
    }

    &:not(:last-child) {
      border-right-width: 0;
    }

    &:not(a, button) {
      cursor: default;
    }

    & > i {
      flex-shrink: 0;
    }

    &.active {
      @extend .btn_primary;
      color: #fff;
    }
  }

  // .pagination_sm > .pagination__item
  &_sm > .pagination__item {
    min-width: 3rem;
    min-height: 3rem;
    padding: 0.5rem;
  }

  // .pagination_lg > .pagination__item
  &_lg > .pagination__item {
    min-width: 4rem;
    min-height: 4rem;
    padding: 1.2rem;
  }
}
