.popover {
  position: fixed;
  z-index: var(--zi-tooltip);

  display: flex;
  flex-direction: column;

  min-width: 20rem;
  max-width: 30rem;

  box-shadow: var(--shadow);

  animation-name: popover-appear;
  animation-duration: var(--transition-time);
  animation-fill-mode: both;

  &::before {
    content: "";

    position: absolute;
    z-index: var(--zi-default);

    display: block;

    width: 1.5rem;
    height: 1.5rem;

    background: var(--color-body);
    border-color: var(--color-border);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }

  // .popover_disappear
  &_disappear {
    animation-name: popover-disappear;
  }

  // .popover__header
  &__header {
    padding: 0.75rem 1.5rem;

    font-size: 1.4rem;
    font-weight: var(--font-normal);
    line-height: 1.215;
    color: var(--color-heading);

    background: var(--color-border);
    border: var(--border);
    border-top-left-radius: var(--radius-xs);
    border-top-right-radius: var(--radius-xs);
  }

  // .popover__body
  &__body {
    display: flex;
    align-items: center;

    min-height: 6rem;
    margin-top: -1px;
    padding: 1rem 1.5rem;

    font-size: 1.2rem;
    color: var(--color-text);

    background: var(--color-body);
    border: var(--border);
    border-bottom-right-radius: var(--radius-xs);
    border-bottom-left-radius: var(--radius-xs);
  }

  // .popover_top
  &_top::before {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -0.75rem) rotate(45deg);
  }

  // .popover_bottom
  &_bottom::before {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0.75rem) rotate(45deg);

    background: var(--color-border);
    border-color: var(--color-border);
    border-width: 1px;
  }

  // .popover_left
  &_left::before {
    top: 50%;
    left: 100%;
    transform: translate(-0.75rem, -50%) rotate(45deg);
    border-width: 1px 1px 0 0;
  }

  // .popover_right
  &_right::before {
    top: 50%;
    right: 100%;
    transform: translate(0.75rem, -50%) rotate(45deg);
    border-width: 0 0 1px 1px;
  }
}

@keyframes popover-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popover-disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
