.table-responsive {
  overflow-x: auto;
  display: block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  width: 100%;
  margin: 0;

  text-align: left;

  th {
    font-weight: var(--font-medium);
    color: var(--color-subheading);
  }

  th, td {
    padding: 1.4rem 2rem;
    vertical-align: middle;
    border-bottom: var(--border);
  }

  tbody.last-row-borderless > tr:last-child > {
    th,  td {
      border-bottom-width: 0;
    }
  }
}

.table {
  border-spacing: 0;
  border-collapse: collapse;

  width: 100%;
  margin: 0;

  text-align: left;

  a {
    color: var(--color-text);

    &:hover, &:focus, &:active {
      color: var(--color-heading);
    }
  }

  // .table__actions
  &__actions {
    width: 10.4rem;
    min-width: 10.4rem;
    max-width: 10.4rem;
    text-align: right;
  }

  // .table__action
  &__action {
    @include reset-btn;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 1.8rem;
    height: 1.6rem;

    font-size: 1.6rem;
    line-height: 1;
    color: var(--color-text);
    text-align: center;
    vertical-align: middle;

    &.submit {
      color: var(--color-text-muted);
    }

    &:hover, &:focus, &:active {
      text-decoration: none;

      &:not(.submit) {
        color: var(--color-heading);
      }
    }
  }

  // .table_fixed
  &_fixed {
    table-layout: fixed;
  }

  // .table_align-top
  &_align-top {
    th, td {
      vertical-align: top;
    }
  }

  // .table_align-middle
  &_align-middle {
    th, td {
      vertical-align: middle;
    }
  }

  // .table_align-bottom
  &_align-bottom {
    th, td {
      vertical-align: bottom;
    }
  }

  // .table_striped
  &_striped > tbody > tr:nth-child(odd) {
    & > th, & > td {
      background: #f8f9fa;
    }
  }

  // .table_borderless
  &_borderless {
    th, td {
      border: none;
    }

    th {
      color: var(--color-text);
    }
  }

  // .table_sm
  &_sm {
    th, td {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
}

:root[data-theme="dark"] {
  .table_striped > tbody > tr:nth-child(odd) {
    & > th, & > td {
      background: #2d3846;
    }
  }
}
