.toasts {
  pointer-events: none;

  position: fixed;
  z-index: var(--zi-toast);
  inset: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-end;
  justify-content: flex-end;

  padding: var(--gap);

  // .toasts__item
  &__item {
    pointer-events: auto;
    cursor: pointer;

    position: relative;

    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    gap: 1.5rem;
    align-items: center;

    width: auto;
    min-width: 20rem;
    max-width: 30rem;
		padding: 1rem 1.5rem;

    color: #fff;

    opacity: 0.9;
    background: var(--color-box-dark);
    border-radius: var(--radius-xs);
    box-shadow: var(--shadow);

    transition: var(--transition);

    // animations
    animation-name: toast-appear;
    animation-duration: var(--transition-time);
    animation-fill-mode: both;

    &:hover {
      opacity: 1;
      box-shadow: var(--shadow-2);
    }

    // .toasts__item.disappear
    &.disappear {
      animation-name: toast-disappear;
    }

    @each $color in $accent-color-list {
      &.#{$color} {
        color: var(--color-#{$color}-text);
        background: var(--color-#{$color});

        & > .toasts__icon {
          color: var(--color-#{$color}-text);
          background: var(--color-#{$color});
        }
      }
    }

    &.warning > .toasts__icon::before {
      @extend .ti-exclamation-mark;
    }

    &.error > .toasts__icon::before {
      @extend .ti-x;
    }
  }

  // .toasts__icon
  &__icon {
    position: relative;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    line-height: 1;
    color: #fff;
    text-align: center;

    background: transparent;

    &::before {
      @extend .ti;
      @extend .ti-check;
    }
  }

  // .toasts__text
  &__text {
    overflow: hidden;

    height: 100%;

    font-size: 1.4rem;
    font-weight: var(--font-normal);
    line-height: 1.4;
    text-overflow: ellipsis;
  }
}

@keyframes toast-appear {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toast-disappear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(25%);
    opacity: 0;
  }
}
