.btn {
	@extend %reset-btn;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.25em;
	padding: 0.9rem 1.15rem;
	border-radius: var(--radius);
	background: transparent;
	color: #fff;
	border: var(--border-width) solid transparent;
	font-size: 1.4rem;
	font-weight: var(--font-normal);
	line-height: 1;
	cursor: pointer;
	position: relative;
	transition: var(--transition);

	&:hover, &:focus, &:active {
		text-decoration: none;
	}

	& > i {
		flex-shrink: 0;
	}

	// .btn_default
	&_default {
		color: var(--color-text);
		background: var(--color-box);
		border-color: var(--color-border);

		&:hover, &:focus, &:active {
			color: var(--color-text);
			background: var(--color-body);
			border-color: var(--color-border);
		}
	}

	// .btn_cancel
	&_cancel {
		color: var(--color-text);
		background: var(--color-border);
		border-color: var(--color-border);

		&:hover, &:focus, &:active {
			color: var(--color-text);
			background: var(--color-border-hover);
			border-color: var(--color-border);
		}

		&.btn_outline {
			&:hover {
				background: var(--color-border);
			}

			&:focus, &:active {
				background: var(--color-border-hover);
			}
		}
	}

	// .btn_primary
	&_primary {
		background: var(--color-primary);
		border-color: var(--color-primary);

		&:hover, &:focus, &:active {
			background: var(--color-primary-hover);
			border-color: var(--color-primary-hover);
		}

		&.btn_outline {
			color: var(--color-primary);

			&:hover {
				background: var(--color-primary);
				border-color: var(--color-primary);
				color: #fff;
			}

			&:focus, &:active {
				background: var(--color-primary-hover);
				border-color: var(--color-primary-hover);
				color: #fff;
			}
		}
	}

	// .btn_secondary
	&_secondary {
		background: var(--color-secondary);
		border-color: var(--color-secondary);

		&:hover, &:focus, &:active {
			background: var(--color-secondary-hover);
			border-color: var(--color-secondary-hover);
		}

		&.btn_outline {
			color: var(--color-secondary);

			&:hover {
				background: var(--color-secondary);
				border-color: var(--color-secondary);
				color: #fff;
			}

			&:focus, &:active {
				background: var(--color-secondary-hover);
				border-color: var(--color-secondary-hover);
				color: #fff;
			}
		}
	}

	// .btn_success
	&_success {
		background: var(--color-success);
		border-color: var(--color-success);

		&:hover, &:focus, &:active {
			background: var(--color-success-hover);
			border-color: var(--color-success-hover);
		}

		&.btn_outline {
			color: var(--color-success);

			&:hover {
				background: var(--color-success);
				border-color: var(--color-success);
				color: #fff;
			}

			&:focus, &:active {
				background: var(--color-success-hover);
				border-color: var(--color-success-hover);
				color: #fff;
			}
		}
	}

	// .btn_info
	&_info {
		background: var(--color-info);
		border-color: var(--color-info);

		&:hover, &:focus, &:active {
			background: var(--color-info-hover);
			border-color: var(--color-info-hover);
		}

		&.btn_outline {
			color: var(--color-info);

			&:hover {
				background: var(--color-info);
				border-color: var(--color-info);
				color: #fff;
			}

			&:focus, &:active {
				background: var(--color-info-hover);
				border-color: var(--color-info-hover);
				color: #fff;
			}
		}
	}

	// .btn_warning
	&_warning {
		background: var(--color-warning);
		border-color: var(--color-warning);

		&:hover, &:focus, &:active {
			background: var(--color-warning-hover);
			border-color: var(--color-warning-hover);
		}

		&.btn_outline {
			color: var(--color-warning);

			&:hover {
				background: var(--color-warning);
				border-color: var(--color-warning);
				color: #fff;
			}

			&:focus, &:active {
				background: var(--color-warning-hover);
				border-color: var(--color-warning-hover);
				color: #fff;
			}
		}
	}

	// .btn_error
	&_error {
		background: var(--color-error);
		border-color: var(--color-error);

		&:hover, &:focus, &:active {
			background: var(--color-error-hover);
			border-color: var(--color-error-hover);
		}

		&.btn_outline {
			color: var(--color-error);

			&:hover {
				background: var(--color-error);
				border-color: var(--color-error);
				color: #fff;
			}

			&:focus, &:active {
				background: var(--color-error-hover);
				border-color: var(--color-error-hover);
				color: #fff;
			}
		}
	}

	// .btn_outline
	&_outline {
		background: transparent;
	}

	// .btn_disabled
	&_disabled, &:disabled {
		cursor: not-allowed;
		opacity: 0.7;
	}

	// .btn_fit
	&_fit {
		width: 100%;
	}

	// .btn_sm
	&_sm {
		font-size: 1.2rem;
		padding: 0.6rem 1rem;
	}

	// .btn_lg
	&_lg {
		font-size: 1.6rem;
		padding: 1.2rem 1.3rem;
	}

	// .btn_icon
	&_icon {
		min-width: 3rem;
		min-height: 3rem;
		font-size: 1.4rem;
		padding: 0.5em;
	}
}

.btn-group {
	display: inline-flex;
	position: relative;

	& > .btn {
		border-radius: 0;
	}

	// .btn-group_vertical
	&_vertical {
		flex-direction: column;

		& > .btn:first-child {
			border-top-left-radius: var(--radius);
			border-top-right-radius: var(--radius);
		}

		& > .btn:last-child {
			border-bottom-left-radius: var(--radius);
			border-bottom-right-radius: var(--radius);
		}
	}

	&:not(.btn-group_vertical) {
		& > .btn:first-child {
			border-top-left-radius: var(--radius);
			border-bottom-left-radius: var(--radius);
		}

		& > .btn:last-child {
			border-top-right-radius: var(--radius);
			border-bottom-right-radius: var(--radius);
		}
	}

	// .btn-group_fit
	&_fit {
		display: flex;

		& > .btn {
			flex: 1 0 0;
		}
	}
}
