.dropdown {
	position: relative;

	// .dropdown__menu
	&__menu {
		position: absolute;
		top: calc(100% + 0.5em);
		left: 0;
		right: auto;
		width: max-content;
		min-width: 11em;
		max-width: 22em;
		display: flex;
		flex-direction: column;
		padding: 0.5em 0;
		background: var(--color-box);
		box-shadow: var(--shadow);
		border: var(--border);
		border-radius: var(--radius);
		transition: var(--transition);
		visibility: hidden;
		opacity: 0;
		z-index: var(--zi-below);
	}

	// .dropdown__item
	&__item {
		@include reset-btn;
		display: block;
		margin: 0;
		padding: 0.75rem 1.5rem;
		font-size: 1.4rem;
		font-weight: var(--font-normal);
		background: var(--color-box);
		color: var(--color-text);
		cursor: pointer;
		text-align: left;
		transition: var(--transition);

		&:not(.disabled):not(:disabled):not(.active):not(.dropdown__header):not(.dropdown__text):hover,
		&:not(.disabled):not(:disabled):not(.active):not(.dropdown__header):not(.dropdown__text):focus,
		&:not(.disabled):not(:disabled):not(.active):not(.dropdown__header):not(.dropdown__text):active {
			background: var(--color-border);
			color: var(--color-text);
		}

		&.disabled,
		&:disabled {
			color: var(--color-text-muted);
			cursor: default;
		}

		&.active,
		&.active.disabled,
		&.active:disabled {
			background: var(--color-primary);
			color: #fff;
		}
	}

	// .dropdown__header
	&__header {
		@extend .dropdown__item;
		font-size: 1.2rem;
		color: var(--color-text-muted);
		cursor: default;
		padding-bottom: 0.25rem;
		user-select: initial;

		&:last-child {
			padding-bottom: inherit;
		}
	}

	// .dropdown__divider
	&__divider {
		border-top: var(--border);
		height: 0;
		margin: 0.5rem 0;
		opacity: 1;
		overflow: hidden;
		cursor: default;
		user-select: initial;
	}

	// .dropdown__text
	&__text {
		@extend .dropdown__item;
		max-width: 15em;
		color: var(--color-text-muted);
		cursor: default;
		user-select: initial;
	}

	// .dropdown.active > .dropdown__menu
	&.active > .dropdown__menu {
		visibility: visible;
		opacity: 1;
		z-index: var(--zi-default);
	}

	// .dropdown_top-left > .dropdown__menu
	&_top-left > .dropdown__menu {
		top: auto;
		right: auto;
		bottom: calc(100% + 0.5em);
		left: 0;
	}

	// .dropdown_top-center > .dropdown__menu
	&_top-center > .dropdown__menu {
		top: auto;
		right: auto;
		bottom: calc(100% + 0.5em);
		left: 50%;
		transform: translateX(-50%);
	}

	// .dropdown_top-right > .dropdown__menu
	&_top-right > .dropdown__menu {
		top: auto;
		right: 0;
		bottom: calc(100% + 0.5em);
		left: auto;
	}

	// .dropdown_left-top > .dropdown__menu
	&_left-top > .dropdown__menu {
		top: auto;
		right: calc(100% + 0.5em);
		bottom: 0;
		left: auto;
	}

	// .dropdown_left-center > .dropdown__menu
	&_left-center > .dropdown__menu {
		top: 50%;
		transform: translateY(-50%);
		right: calc(100% + 0.5em);
		bottom: auto;
		left: auto;
	}

	// .dropdown_left-bottom > .dropdown__menu
	&_left-bottom > .dropdown__menu {
		top: 0;
		right: calc(100% + 0.5em);
		bottom: auto;
		left: auto;
	}

	// .dropdown_right-top > .dropdown__menu
	&_right-top > .dropdown__menu {
		top: auto;
		right: auto;
		bottom: 0;
		left: calc(100% + 0.5em);
	}

	// .dropdown_right-center > .dropdown__menu
	&_right-center > .dropdown__menu {
		top: 50%;
		transform: translateY(-50%);
		right: auto;
		bottom: auto;
		left: calc(100% + 0.5em);
	}

	// .dropdown_right-bottom > .dropdown__menu
	&_right-bottom > .dropdown__menu {
		top: 0;
		right: auto;
		bottom: auto;
		left: calc(100% + 0.5em);
	}

	// .dropdown_bottom-left > .dropdown__menu
	&_bottom-left > .dropdown__menu {
		top: calc(100% + 0.5em);
		right: auto;
		bottom: auto;
		left: 0;
	}

	// .dropdown_bottom-center > .dropdown__menu
	&_bottom-center > .dropdown__menu {
		top: calc(100% + 0.5em);
		right: auto;
		bottom: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	// .dropdown_bottom-right > .dropdown__menu
	&_bottom-right > .dropdown__menu {
		top: calc(100% + 0.5em);
		right: 0;
		bottom: auto;
		left: auto;
	}
}
