form,
.form {
	display: block;
	width: 100%;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: var(--zi-below);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: var(--radius);
		background: var(--color-box);
		transition: var(--transition);
		opacity: 0;
		visibility: hidden;
	}

	& > .loader {
		position: absolute;
		z-index: var(--zi-below);
		top: calc(50% - 1.5em);
		left: calc(50% - 1.5em);
		transition: var(--transition);
		opacity: 0;
		visibility: hidden;
	}

	&.submit {
		&::before {
			z-index: var(--zi-default);
			opacity: 0.7;
			visibility: visible;
		}

		& > .loader {
			z-index: calc(var(--zi-default) + 1);
			opacity: 1;
			visibility: visible;
		}
	}
}

label:not([class]) {
	display: inline-block;
	max-width: 100%;
	margin: 0 0 0.5em 0;
	font-size: 1.4rem;
	font-weight: var(--font-normal);
	line-height: 1.2;
	position: relative;
	overflow: hidden;

	&:last-child {
		margin-bottom: 0;
	}

	&[for] {
		cursor: pointer;
	}
}

input,
textarea,
select,
.input,
.textarea,
.select {
	@include reset-btn;
	display: block;
	width: 100%;
	padding: 0.5em 1em;
	font-size: 1.4rem;
	font-weight: var(--font-normal);
	line-height: 1.4;
	border-radius: var(--radius);
	border: var(--border);
	background: var(--color-box);
	color: var(--color-text);
	margin: 0 0 1em;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&.disabled,
	&:disabled {
		background: var(--color-border);
	}

	&.valid {
		border-color: var(--color-success);
	}

	&.invalid {
		border-color: var(--color-error);
	}
}

textarea {
	min-height: 2.543em;
	max-height: 20em;
	// resize: vertical;
	overflow: hidden auto;
}

label:not(.switch) {

	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		z-index: var(--zi-below);
		top: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		width: 0;
		height: 100%;
		margin: 0;
		padding: 0;

		& + * {
			display: inline-flex;
			align-items: center;
			gap: 0.5em;
			font-size: 1.4rem;
			font-weight: var(--font-normal);
			line-height: 1.2;
			color: var(--color-text);
			margin: 0;
			padding: 0;
			position: relative;
			cursor: pointer;

			&::before {
				flex-shrink: 0;
				font-family: "icon";
				content: "_";
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 1.6rem;
				height: 1.6rem;
				font-size: 1.3rem;
				border-radius: var(--radius);
				background: var(--color-box);
				color: var(--color-box);
				border: var(--border);
				transition: background-color var(--transition-time), border-color var(--transition-time);
			}
		}

		&:checked + *::before {
			@extend .icon-check;
			background: var(--color-primary);
			border-color: var(--color-primary);
			color: #fff;
		}

		&.disabled,
		&:disabled {
			& ~ * {
				opacity: 0.5;
				cursor: default;
			}
		}

		&.valid + * {
			color: var(--color-success);
		}

		&.invalid + * {
			color: var(--color-error);
		}
	}

	input[type="radio"] {
		& + *::before {
			border-radius: 50%;
		}

		&:checked + *::before {
			@extend .icon-circle-filled;
			background: transparent;
			border-width: 0.5rem;
			color: transparent;
		}
	}
}

.switch {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	margin: 0 0 0.5em 0;

	// .switch__slider
	&__slider {
		display: inline-block;
		width: 3.2rem;
		height: 1.6rem;
		border-radius: 1.6rem;
		background: var(--color-box);
		border: var(--border);
		position: relative;
		transition: var(--transition);
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0.3rem;
			display: inline-block;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background: var(--color-border-hover);
			transition: var(--transition);
		}
	}

	& > *:not([class]) {
		font-size: 1.4rem;
		font-weight: var(--font-normal);
		line-height: 1.2;
		color: var(--color-text);
		margin: 0;
		padding: 0;
		cursor: pointer;
	}

	input {
		display: none;

		&:checked + .switch__slider {
			background: var(--color-primary);
			border-color: var(--color-primary);

			&::before {
				left: 1.7rem;
				background: #fff;
			}
		}

		&.disabled,
		&:disabled {
			& ~ * {
				opacity: 0.5;
				cursor: default;
			}
		}

		&.valid ~ *:not([class]) {
			color: var(--color-success);
		}

		&.invalid ~ *:not([class]) {
			color: var(--color-error);
		}
	}
}

.select_custom {
	display: block;
	width: auto;
	padding: 0;
	background: none;
	border: none;
	position: relative;

	select {
		position: absolute;
		z-index: var(--zi-below);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

.input-group {
	display: flex;
	margin: 0 0 1em;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	& > *:not(input):not(textarea):not(select):not(.input):not(.textarea):not(.select) {
		@include reset-btn;
		flex-shrink: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0.5em 1em;
		background: var(--color-border);
		border: var(--border);
		color: var(--color-text);

		&:first-child {
			border-right-width: 0;
			border-radius: var(--radius) 0 0 var(--radius);
		}

		&:last-child {
			border-left-width: 0;
			border-radius: 0 var(--radius) var(--radius) 0;
		}
	}

	& > input,
	& > textarea,
	& > select,
	& > .input,
	& > .textarea,
	& > .select {
		flex-grow: 1;
		width: auto;
		margin: 0;
		border-radius: 0 var(--radius) var(--radius) 0;

		&:first-child {
			border-radius: var(--radius) 0 0 var(--radius);
		}

		&:last-child {
			border-radius: 0 var(--radius) var(--radius) 0;
		}

		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
	}
}

:root[data-theme="dark"] .input-group > *:not(input):not(textarea):not(select):not(.input):not(.textarea):not(.select) {
	background: var(--color-border-hover);
}

input[type="color"] {
	display: inline-block;
	width: auto;
	width: 2.543em;
	height: 2.543em;
	padding: 0.5em;
	cursor: pointer;

	&::-webkit-color-swatch-wrapper {
		padding: 0;
		border-color: none;
	}

	&::-webkit-color-swatch {
		border: var(--border);
		border-radius: 50%;
	}
}

input[type="range"] {
	display: block;
	height: 2.543em;
	accent-color: var(--color-primary);
	cursor: pointer;
}
