.header {
	position: sticky;
	z-index: var(--zi-header);
	top: 0;
	display: block;
	padding: 0.75em 0;
	background: var(--color-box);
	box-shadow: 0 0 2em 0 rgba(33, 37, 41, 0.1);

	// .header__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 1em;
	}

	// .header__burger
	// .header__item
	&__burger,
	&__item {
		@include reset-btn;
		flex-shrink: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		color: var(--color-secondary);
		cursor: pointer;
		position: relative;
		transition: var(--transition);

		&:hover {
			color: var(--color-primary);
		}

		& > .icon {
			font-size: 2.8rem;
		}

		& > img,
		& > svg {
			display: inline-block;
			width: 2.2rem;
			height: 2.2rem;
		}
	}

	// .header__burger
	&__burger {
		margin-left: -0.8rem;
	}

	// .header__item
	&__item {

		& > .icon {
			font-size: 2.2rem;
		}
	}

	// .header__nav
	&__nav {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		gap: 0.5em;
	}
}

[data-theme-toggle] {
	.icon-moon {
		display: block;
	}

	.icon-sun {
		display: none;
	}
}

:root[data-theme="dark"] {
	.header {
		background: var(--color-body);

		// .header__burger
		// .header__item
		&__burger,
		&__item {
			color: #a7abb1;

			&:hover {
				color: var(--color-primary);
			}
		}
	}

	[data-theme-toggle] {
		.icon-moon {
			display: none;
		}

		.icon-sun {
			display: block;
		}
	}
}
