.list-group {
	display: flex;
	flex-direction: column;

	// .list-group__item
	&__item {
		display: block;
		padding: 1em 1.5em;
		background: transparent;
		border-bottom: var(--border);
		color: var(--color-text);

		&:first-child {
			border-radius: var(--radius) var(--radius) 0 0;
		}

		&:last-child {
			border-bottom-width: 0;
			border-radius: 0 0 var(--radius) var(--radius);
		}
	}

	& > a.list-group__item {

		&:hover,
		&:focus,
		&:active {
			background: var(--color-border);
		}

		&.active {
			background: var(--color-primary);
			color: #fff;
		}
	}

	// .list-group_sm
	&_sm > .list-group__item {
		padding: 0.5em 1.5em;
	}
}
