.popover {
	position: fixed;
	z-index: var(--zi-tooltip);
	display: inline-flex;
	flex-direction: column;
	min-width: 11em;
	max-width: 22em;
	box-shadow: var(--shadow);

	animation-name: popover_appear;
	animation-duration: var(--transition-time);
	animation-fill-mode: both;

	// .popover_disappear
	&_disappear {
		animation-name: popover_disappear;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: var(--zi-default);
		display: inline-block;
		width: 1em;
		height: 1em;
		background: var(--color-body);
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: var(--color-border);
	}

	// .popover__header
	&__header {
		padding: 0.5em 1em;
		background: var(--color-border);
		color: var(--color-heading);
		border: var(--border);
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
	}

	// .popover__body
	&__body {
		margin-top: -1px;
		display: flex;
		align-items: center;
		min-height: 4em;
		padding: 0.85em 1em;
		font-size: 1.2rem;
		background: var(--color-body);
		color: var(--color-text);
		border: var(--border);
		border-bottom-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}

	// .popover_top
	&_top::before {
		top: 100%;
		left: 50%;
		transform: translate(-50%, -0.5em) rotate(45deg);
	}

	// .popover_bottom
	&_bottom::before {
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, 0.5em) rotate(45deg);
		border-width: 1px;
		border-color: var(--color-border);
		background: var(--color-border);
	}

	// .popover_left
	&_left::before {
		top: 50%;
		left: 100%;
		transform: translate(-0.5em, -50%) rotate(45deg);
		border-width: 1px 1px 0 0;
	}

	// .popover_right
	&_right::before {
		top: 50%;
		right: 100%;
		transform: translate(0.5em, -50%) rotate(45deg);
		border-width: 0 0 1px 1px;
	}
}

@keyframes popover_appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes popover_disappear {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}