.tooltip {
	position: fixed;
	z-index: var(--zi-tooltip);
	display: inline-block;
	max-width: 22em;
	padding: 0.9rem 1.15rem;
	border-radius: var(--radius);
	font-size: 1.2rem;
	line-height: 1;
	background: var(--color-heading);
	color: var(--color-heading-inverse);
	box-shadow: var(--shadow);
	text-align: center;

	animation-name: tooltip_appear;
	animation-duration: var(--transition-time);
	animation-fill-mode: both;

	// .tooltip_disappear
	&_disappear {
		animation-name: tooltip_disappear;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: var(--zi-default);
		display: inline-block;
		width: 0.75em;
		height: 0.75em;
		background: var(--color-heading);
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: var(--color-heading);
	}

	// .tooltip_top
	&_top::before {
		top: 100%;
		left: 50%;
		transform: translate(-50%, -0.5em) rotate(45deg);
	}

	// .tooltip_bottom
	&_bottom::before {
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, 0.5em) rotate(45deg);
	}

	// .tooltip_left
	&_left::before {
		top: 50%;
		left: 100%;
		transform: translate(-0.5em, -50%) rotate(45deg);
	}

	// .tooltip_right
	&_right::before {
		top: 50%;
		right: 100%;
		transform: translate(0.5em, -50%) rotate(45deg);
	}
}

@keyframes tooltip_appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tooltip_disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
