.tooltip-wrapper {
	position: relative;

	&:hover {
		& > .tooltip {
			visibility: visible;
			opacity: 1;
		}
	}
}

.tooltip {
	position: absolute;
	z-index: 200;
	display: flex;
	justify-content: center;
	width: 20em;
	transition: var(--transition);
	visibility: hidden;
	opacity: 0;

	// .tooltip__content
	&__content {
		display: inline-block;
		max-width: 100%;
		padding: 0.9rem 1.15rem;
		border-radius: var(--radius);
		font-size: 1.2rem;
		line-height: 1;
		background: var(--color-heading);
		color: var(--color-heading-inverse);
		box-shadow: var(--shadow);
		text-align: center;

		&::before {
			content: "";
			position: absolute;
			z-index: 10;
			display: inline-block;
			width: 0.75em;
			height: 0.75em;
			background: var(--color-heading);
			border-width: 0 1px 1px 0;
			border-style: solid;
			border-color: var(--color-heading);
		}
	}

	// .tooltip_top
	&_top {
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, -0.5em);

		& > .tooltip__content::before {
			top: 100%;
			left: 50%;
			transform: translate(-50%, -0.5em) rotate(45deg);
		}
	}

	// .tooltip_bottom
	&_bottom {
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0.5em);

		& > .tooltip__content::before {
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0.5em) rotate(45deg);
		}
	}

	// .tooltip_left
	&_left {
		top: 50%;
		right: 100%;
		transform: translate(-0.5em, -50%);
		justify-content: flex-end;

		& > .tooltip__content::before {
			top: 50%;
			left: 100%;
			transform: translate(-0.5em, -50%) rotate(45deg);
		}
	}

	// .tooltip_right
	&_right {
		top: 50%;
		left: 100%;
		transform: translate(0.5em, -50%);
		justify-content: flex-start;

		& > .tooltip__content::before {
			top: 50%;
			right: 100%;
			transform: translate(0.5em, -50%) rotate(45deg);
		}
	}
}
