@import "util/media-query";
@import "config/breakpoint";

@import "filepond/dist/filepond.min";
@import "filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min";
@import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min";
@import "filepond-plugin-media-preview/dist/filepond-plugin-media-preview.min";
@import "filepond-plugin-pdf-preview/dist/filepond-plugin-pdf-preview.min";

.filepond--root {
	font: inherit;
	cursor: pointer;
	color: var(--color-text);
	margin: 0 0 1em;

	&:last-child {
		margin-bottom: 0;
	}

	& > .valid ~ .filepond--panel-root > .filepond--panel-root {
		border-color: var(--color-success);
	}

	& > .invalid ~ .filepond--panel-root > .filepond--panel-root {
		border-color: var(--color-error);
	}
}

.filepond--panel-root {
	background: var(--color-box);
	border-radius: var(--radius);
	border: var(--border);
}

.filepond--drop-label {
	color: var(--color-text-muted);
}

.filepond--label-action {
	text-decoration-color: var(--color-text-muted);
}

.filepond--file-poster img {
	width: 100%;
	object-fit: contain;
}

.filepond--file-status-sub {
	display: none;
}

.filepond--file-action-button {
	background: #000;
	color: var(--color-text-muted);
	cursor: pointer;
	transition: var(--transition);

	&:hover,
	&:focus {
		box-shadow: 0 0 0 0.1em rgba(255, 255, 255, 0.9);
		color: #fff;
	}
}

.filepond--item {
	margin: 0.25em;
}

.filepond--item-panel,
.filepond--drip {
	border-radius: var(--radius);
	background: var(--color-box);
}

.filepond--drip-blob {
	background: var(--color-text);
}

.filepond--file {
	color: var(--color-text);
}

[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
	background: var(--color-error);
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
	background: var(--color-success);
}

.filepond--file-info .filepond--file-info-sub {
	opacity: 1;
	color: var(--color-text-muted);
}

.filepond--drop-label.filepond--drop-label label {
	padding: 0.5em 1em;
}

.filepond--image-preview-overlay-success {
	color: var(--color-success);
}

.filepond--image-preview-wrapper {
	border-radius: var(--radius);
}

.filepond--list {
	left: 0.75em;
	right: 0.75em;
}

.filepond--grid .filepond--item {
	width: 100%;
}

@include query(md) {
	.filepond--grid .filepond--item {
		width: calc(50% - 0.5em);
	}
}

@include query(lg) {
	.filepond--grid .filepond--item {
		width: calc(33.333333% - 0.5em);
	}
}

@include query(xl) {
	.filepond--grid .filepond--item {
		width: calc(25% - 0.5em);
	}
}

@include query(xxl) {
	.filepond--grid .filepond--item {
		width: calc(20% - 0.5em);
	}
}
