/* ==========  Third party  ========== */
@import "reseter.css/css/reseter.min";

/* ==========  Variables, Mixins, Fonts  ========== */
@import "config/vars";
@import "config/font";

/* ==========  Global  ========== */
html, body {
	width: 100%;
	min-width: 320px;
	font-size: 10px;
	position: relative;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: hidden;
	font-family: var(--font);
	font-size: 1.4rem;
	font-weight: var(--font-normal);
	line-height: 1.4;
	color: var(--color-text);
	background-color: var(--color-body);

	&.disable-scroll {
		overflow: hidden;
		touch-action: none;
		-ms-touch-action: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
	font-weight: var(--font-normal);
	line-height: 1.2;
	color: var(--color-heading);
	margin: 0 0 1rem 0;

	&:not(:first-child) {
		margin-top: 3rem;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 0.875em; }

p {
	margin: 0 0 1em 0;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: var(--color-link);
	text-decoration: none;
	transition: var(--transition);

	&:not([class]):hover, &:not([class]):focus, &:not([class]):active {
		color: var(--color-link-hover);
		text-decoration: underline;
	}

	&[href^="tel:"], &[href^="mailto:"] {
		text-decoration: underline;

		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}
}

b, strong {
	font-weight: var(--font-medium);
}

mark, .mark {
	display: inline;
	margin: 0;
	padding: 0;
	background-color: #fef1d5;
}

img, svg, picture {
	max-width: 100%;
}

svg {
	display: inline;
	height: 1em;
}

blockquote {
	display: block;
	margin: 0 0 1em 0;
	padding: 0.5em 0 0.5em 1.5em;
	font-style: italic;
	border-left: 4px solid var(--color-border);

	&:last-child {
		margin-bottom: 0;
	}
}

ul, ol {
	margin: 0 0 1em 0;
	padding-left: 1.4em;
	line-height: 1.6;

	&:last-child {
		margin-bottom: 0;
	}
}

figure {
	margin: 0 0 1em 0;

	&:last-child {
		margin-bottom: 0;
	}
}

iframe {
	display: block;
	border: none;
	box-shadow: none;
	margin: 0 0 1em 0;

	&:last-child {
		margin-bottom: 0;
	}
}

hr {
	display: block;
	margin: var(--gap) 0;
	border: var(--border);
}

code, kbd, pre, samp {
	color: var(--color-info);
}

::placeholder {
	color: var(--color-text-muted);
	opacity: 1;
}

/* ==========  Custom  ========== */
.container {
	display: block;
	max-width: 100em;
	margin: 0 auto;
	padding: 0 var(--gap);
	position: relative;
}

.page-content {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.section {
	display: block;

	// .section__title
	&__title {
		display: block;
		font-size: 1.5em;
		font-weight: var(--font-normal);
	}

	// .section__content
	&__content {
		display: block;

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	// .section__footer
	&__footer {
		display: block;
		margin: var(--gap) 0 0 0;
	}

	// .section_offset
	&_offset {
		padding: var(--gap) 0;
	}

	// .section_offset-top
	&_offset-top {
		padding-top: var(--gap);
	}

	// .section_offset-bottom
	&_offset-bottom {
		padding-bottom: var(--gap);
	}

	// .section_grow
	&_grow {
		flex-grow: 1;
	}
}

.box {
	display: block;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	background: var(--color-box);

	// .box__image
	&__image {
		display: block;

		& > * {
			display: block;
			width: 100%;
			height: auto;
			border-radius: var(--radius) var(--radius) 0 0;
		}
	}

	// .box__header
	&__header {
		display: block;
		padding: 1.5em;
	}

	// .box__title
	&__title {
		display: block;
		margin: 0 0 1em;
		font-size: 1.05em;
		font-weight: var(--font-medium);
		line-height: 1.2;
		color: var(--color-subheading);
	}

	// .box__subtitle
	&__subtitle {
		display: block;
		margin: 0 0 1em;
		font-size: 1em;
		line-height: 1.2;
		color: var(--color-text-muted);
	}

	// .box__body
	&__body {
		display: block;
		padding: 1.5em;

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	// .box__footer
	&__footer {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		padding:  1.5em;
	}

	.box__header + .box__body {
		padding-top: 0.5em;
	}

	.box__body + .box__footer {
		padding-top: 0.5em;
	}

	.box__title + .box__subtitle {
		margin: -0.5em 0 0;
	}
}

.list-group {
	display: flex;
	flex-direction: column;

	// .list-group__item
	&__item {
		display: block;
		padding: 1em 1.5em;
		background-color: transparent;
		border-bottom: var(--border);
		color: var(--color-text);

		&:first-child {
			border-radius: var(--radius) var(--radius) 0 0;
		}

		&:last-child {
			border-bottom-width: 0;
			border-radius: 0 0 var(--radius) var(--radius);
		}
	}

	& > a.list-group__item {
		&:hover, &:focus, &:active {
			background-color: var(--color-border);
		}

		&.active {
			background-color: var(--color-primary);
			color: #fff;
		}
	}
}


@import "partial/accordion";
@import "partial/button";
@import "partial/breadcrumb";
@import "partial/dropdown";
@import "partial/form";
@import "partial/grid";
@import "partial/helper";
@import "partial/icon";
@import "partial/label";
@import "partial/loader";
@import "partial/pagination";
@import "partial/popover";
@import "partial/tab";
@import "partial/table";
@import "partial/tooltip";

@import "partial/header";
@import "partial/footer";
