.modals {
	position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
	transition: var(--transition);
	visibility: hidden;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: var(--transition);
		background: transparent;
	}
}

.modal {
	position: absolute;
	z-index: 100;
	top: var(--gap);
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - var(--gap) * 2);
	max-width: 45em;
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	background: var(--color-box);
	transition: var(--transition);
	margin: -2em 0 0;
	opacity: 0;
	visibility: hidden;

	// .modal__header
	&__header {
		display: block;
		position: relative;
		padding: 1em 3em 1em 1.5em;
		border-bottom: var(--border);
		color: var(--color-heading);
	}

	// .modal__close
	&__close {
		font: inherit;
		appearance: none;
		outline: none;
		border: none;
		background: none;
		box-shadow: none;
		user-select: none;
		text-decoration: none;
		margin: 0;
		padding: 0;

		position: absolute;
		z-index: 101;
		top: 50%;
		transform: translateY(-50%);
		right: 0.5em;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		color: var(--color-text-muted);
		cursor: pointer;
		transition: var(--transition);

		&:hover, &:focus, &:active {
			text-decoration: none;
			color: var(--color-heading);
		}
	}

	// .modal__body
	&__body {
		display: block;
		max-height: calc(100vh - 8em - var(--gap) * 2);
		overflow: hidden auto;
		padding: 1.5em;
	}

	// .modal__footer
	&__footer {
		display: flex;
		align-items: stretch;
		justify-content: flex-end;
		gap: 0.5em;
		padding: 1em 1.5em;
		border-top: var(--border);
	}

	// .modal_center
	&_center {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	// .modal_sm
	&_sm {
		max-width: 35em;
	}

	// .modal_lg
	&_lg {
		max-width: 65em;
	}
}

.modal-open {
	// overflow: hidden;
	// padding-right: var(--scrollbar-width);

	& > .modals {
		z-index: 1000;
		visibility: visible;

		&::before {
			background: rgba(0, 0, 0, 0.5);
		}

		& > .modal.active {
			margin: 0;
			opacity: 1;
			visibility: visible;
		}
	}
}
