@import "slim-select/dist/slimselect";

:root {
	--ss-primary-color: var(--color-primary);
  --ss-bg-color: var(--color-box);
  --ss-font-color: var(--color-text);
  --ss-font-placeholder-color: var(--color-text-muted);
  --ss-disabled-color: var(--color-border);
  --ss-border-color: var(--color-border);
  --ss-highlight-color: #fef1d5;
  --ss-success-color: var(--color-success);
  --ss-error-color: var(--color-error);
  --ss-main-height: 2.543em;
  --ss-content-height: 20em;
  --ss-spacing-l: 0.5em;
  --ss-spacing-m: 0.5em;
  --ss-spacing-s: 0.5em;
  --ss-animation-timing: var(--transition-time);
  --ss-border-radius: var(--radius);
}

.ss-main {
	margin: 0;
	padding: 0.5em 0.5em 0.5em 1em;

	&:hover, &:focus, &:active {
		box-shadow: none;
	}

	.ss-values {
		.ss-single {
			margin: 0;
		}

		.ss-placeholder {
			padding: 0;
			line-height: inherit;
		}

		.ss-value {
			.ss-value-text {
				padding: 0.45em;
				font-size: 1.125rem;
				font-weight: var(--font-medium);
				line-height: 1;
				cursor: default;
				color: #fff;
			}

			.ss-value-delete {
				padding: 0.45em;
				border: none;

				& > svg > path {
					stroke: #fff;
				}
			}
		}
	}
}

.ss-content {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	height: auto;

	&.ss-relative {
		position: absolute;
		height: auto;
	}

	.ss-list {
		.ss-option {
			&:empty {
				display: none;
			}

			&:hover {
				background: var(--color-border);
				color: var(--color-text);
			}

			&.ss-disabled {
				color: var(--color-text-muted);

				&:hover, &:focus, &:active {
					color: var(--color-text-muted);
				}
			}

			&:not(.ss-disabled).ss-selected {
				color: #fff;
			}
		}
	}

	.ss-search {
		input {
			display: block;
			width: 100%;
			padding: 0.5em 1em;
			font-size: 1.4rem;
			font-weight: var(--font-normal);
			line-height: 1.4;
			border-radius: var(--radius);
			border: var(--border);
			background: var(--color-box);
			color: var(--color-text);
			margin: 0;

			&.disabled, &:disabled {
				background: var(--color-border);
			}

			&:hover, &:focus, &:active {
				box-shadow: none;
			}
		}
	}
}

.select_custom {
	& > select.valid ~ .ss-main,
	& > select.valid ~ .ss-content {
		border-color: var(--color-success);
	}

	& > select.invalid ~ .ss-main,
	& > select.invalid ~ .ss-content {
		border-color: var(--color-error);
	}
}

.input-group {
	& > .select_custom:first-child > .ss-main {
		border-radius: var(--radius) 0 0 var(--radius);
	}

	& > .select_custom:last-child > .ss-main {
		border-radius: 0 var(--radius) var(--radius) 0;
	}

	& > .select_custom:not(:first-child):not(:last-child) > .ss-main {
		border-radius: 0;
	}
}
