$toast-padding: 1em;
$toast-margin: 1em;
$toast-radius: var(--radius);
$toast-opacity: 0.9;
$toast-opacity-hover: 1.0;
$toast-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
$toast-shadow-hover: 0 3px 9px 0 rgba(0, 0, 0, 0.35);

$toast-color-info: var(--color-info);
$toast-color-success: var(--color-success);
$toast-color-warning: var(--color-warning);
$toast-color-error: var(--color-error);

.toasts {
	position: fixed;
	z-index: var(--zi-top);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: hidden;
	pointer-events: none;

	// .toasts__item
	&__item {
		pointer-events: auto;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		width: auto;
		max-width: 300px;
		max-height: calc(100vh - $toast-padding - $toast-padding);
		padding: $toast-padding;
		border-radius: $toast-radius;
		opacity: $toast-opacity;
		box-shadow: $toast-shadow;
		background: var(--color-box);
		color: var(--color-text);
		cursor: pointer;
		overflow: hidden;
		position: relative;
		transition: var(--transition);

		&:not(:last-child) {
			margin-bottom: $toast-margin;
		}

		&:hover {
			opacity: $toast-opacity-hover;
			box-shadow: $toast-shadow-hover;
		}

		// .toasts__item.success
		&.success {
			background: $toast-color-success;
			color: #fff;
		}

		// .toasts__item.info
		&.info {
			background: $toast-color-info;
			color: #fff;
		}

		// .toasts__item.warning
		&.warning {
			background: $toast-color-warning;
			color: #fff;
		}

		// .toasts__item.error
		&.error {
			background: $toast-color-error;
			color: #fff;
		}

		// animations
		animation-name: toast_appear;
		animation-duration: var(--transition-time);
		animation-fill-mode: both;

		// .toasts__item.disappear
		&.disappear {
			animation-name: toast_disappear;
		}
	}

	// .toasts__icon
	&__icon {
		flex-shrink: 0;
		width: 22px;
		height: 22px;
		margin-right: 13px;
		border-radius: 50%;
		background: var(--color-heading);
		position: relative;

		&::before, &::after {
			content: "";
			display: block;
			position: absolute;
			z-index: var(--zi-default);
			border-radius: 3px;
			background: var(--color-box);
			transform: rotate(-45deg);
		}

		&::before {
			width: 3px;
			height: 11px;
			top: 6px;
			left: 11px;
			transform: rotate(45deg);
		}

		&::after {
			width: 3px;
			height: 6px;
			top: 10px;
			left: 6px;
			transform: rotate(-45deg);
		}

		// .toasts__icon.warning
		// .toasts__icon.error
		&.warning, &.error {
			&::before, &::after {
				width: 3px;
				height: 12px;
				top: 50%;
				left: 50%;
			}

			&::after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			&::before {
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}

		// .toasts__icon.success
		&.success {
			background: #fff;

			&::before, &::after {
				background: $toast-color-success;
			}
		}

		// .toasts__icon.info
		&.info {
			background: #fff;

			&::before, &::after {
				background: $toast-color-info;
			}
		}

		// .toasts__icon.warning
		&.warning {
			background: #fff;

			&::before, &::after {
				background: $toast-color-warning;
			}
		}

		// .toasts__icon.error
		&.error {
			background: #fff;

			&::before, &::after {
				background: $toast-color-error;
			}
		}
	}

	// .toasts__text
	&__text {
		height: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

@keyframes toast_appear {
	0% {
		opacity: 0;
		transform: translateY(25%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes toast_disappear {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(25%);
	}
}
